[2013-02-14 08:39] tfoote opened #5 "tf2: _tf2.so install rule is missing devel prefix"
Build :  http://jenkins.willowgarage.com:8080/job/ros-groovy-tf2_binarydeb_quantal_i386/1/

@jkammerl  Note it's missing the devel/

Error:

[code]

Built location

[code]

[2013-03-11 20:39] wjwwood commented on #5
Fixed by @jkammerl in a723ecb68f72d52e538f9e9bdbca3e66f7a69444

[2013-03-11 20:39] #5 closed, assigned to nobody

[2013-03-19 23:53] tfoote opened #7 "restore tests deleted in 04cf29d1b58c660fdc999ab83563a5d4b76ab331"
They should not have been deleted

[2013-03-26 16:54] wjwwood commented on #7
04cf29d1b58c660fdc999ab83563a5d4b76ab331

[2013-06-27 18:41] ablasdel opened #9 "Getting an error that says there may be race condition issues with TF2"
[ERROR] You've passed in true for auto_start for the C++ action server at [/tf2_buffer_server]. You should always pass in false to avoid race conditions.

Is this a bug? Is there a reason why true is used instead of false here?

[2013-06-27 18:46] jonbinney commented on #9
This is using the version in groovy debs. To reproduce:

[code]

[2013-06-27 18:47] tfoote commented on #9
I believe that it's a race condition which won't hurt this program so we didn't bother to spin the thread separately.  It should be cleaned up not to warn.

[2013-07-08 23:47] hershwg opened #12 "Invalid argument "/any_frame" passed to canTransform argument source_frame in tf2 frame_ids cannot start with a '/'"
The warning message on line 139 of src/buffer_core.cpp prints thousands of times per second in my program (rviz) in hydro because all the sensor data has frame_id values that start with "/", which is incorrect as of today.

I can remove it from things where the source of the frame_ids is rviz, like the gui and config files, but all the sensor data is processed by tf::MessageFilter<MessageType> tem

[2013-07-09 21:23] tfoote commented on #12
I've got a patch pending which will clean this up before it is passed to tf2 from tf.  If you call tf2 directly you will need to sanitize.

[2013-07-10 16:21] #9 closed, assigned to nobody

[2013-07-10 17:53] tfoote commented on #12
@hershwg can you check that my patches in 1.10.3 of geometry work now?

[2013-07-10 21:16] #7 closed, assigned to nobody

[2013-07-11 16:05] hershwg commented on #12
Sorry that I didn't check this sooner.

Actually there is a pretty major bug: if you call `resolve("/map")` you
get back the empty string.

You need to change `erase(0)` to `erase(0,1)` in
`strip_leading_slash()`.  The second argument to string::erase() is the
number of characters to erase, which defaults to all of them.

I'm surprised the tests didn't catch this.  Maybe they aren't being run?

Da

[2013-07-11 16:06] hershwg commented on #12
The above comments refer to file `tf/src/tf.cpp`.

On Thu, Jul 11, 2013 at 9:05 AM, Dave Hershberger hersh@willowgarage.comwrote:

[2013-07-11 21:34] tfoote commented on #12
fixed erase syntax 37e978f94fab27e2e5596e96e7f3b675581a22e3

[2013-07-15 23:46] ahendrix opened #15 "tf2_buffer_server doesn't set up action server properly."
Whenever the tf2 buffer server starts, it prints the following warning:

[code]

[2013-07-29 10:22] tkruse opened #18 "tf2 in groovy defines unnecessary CATKIN_DEPENDS (e.g. on rospy)"
I checked the .pc files generated for a fresh groovy source install.

I get:

[code]

I am not 110% sure, but I believe there is no need ever for a library to know of rospy to build against tf2, diagnostic_aggregator or interactive_markers. So it seems to me those have flawed CMakeLists.txt

Possibly more exported dependencies than rospy are superfluous there (e.g. actionlib stuff).

Also see:
htt

[2013-07-29 13:23] meyerj opened #19 "tf2 causes SIGABRT errors in rivz if the tf buffer is cleared"
Whenever the tf cache is cleared in rviz (e.g. by clicking the Reset button in the bottom-left corner or if a negative time step is detected using an external clock source), rviz aborts with the following error:

[code]

Here is a stack trace (no debug build):

[code]

I am using the following binary packages from the official ROS hydro package repository:

[code]

[2013-07-30 16:16] tkruse opened #20 "tf2 introduction"
I looked over the tf2 documentation, in particular the migration guide: http://www.ros.org/wiki/tf2/Migration and there are several things that seem weird to me.

If tf was really depreated in favour of tf2, then the tf wiki page and tutorials should say so.

geometry_experimental is not a good name for the thing to be used (was not a future proof name).

Several cripts like tf_echo seem to still

[2013-08-03 01:06] #18 closed, assigned to nobody

[2013-08-03 01:06] tfoote commented on #18
fixed in groovy 6c8ea3947a11c3dc6ac5458332d821427468b99c

[2013-08-03 01:25] tfoote commented on #19
I can confirm I can reproduce on my machine.  I'll look into it shortly.

[2013-08-03 01:37] #12 closed, assigned to nobody

[2013-08-03 08:58] tkruse commented on #18
I also miss boost as DEPENDS, used in https://github.com/ros/geometry_experimental/blob/hydro-devel/tf2/include/tf2/buffer_core.h
On the other hand, I am not sure whether console_bridge should be exported as dependency, given it's not used in the public headers.

I could go on.

E.g.
tf2_bullet: misses geometry_msgs and tf2 as exports
tf2_geometry_msgs: tf2_ros is exported but not used
tf2_kdl: mi

[2013-08-04 08:39] tkruse commented on #18
Note I am not just talking about the tf2 packages here, I am talking about hydro in general. Sampling over at a few catkin packages in hydro, I see many packages flawed that way, and that is a major problem in the general introduction of catkin.

[2013-08-06 09:02] tkruse opened #21 "tf2 tutorials outdated"
This relates to pretty much every C++ tutorial linked here:
http://www.ros.org/wiki/tf2/Tutorials
did not check the python tutorials.

Mostly the packages / include subfolder names are wrong, dating back to 2010 before tf2 was cleaned up i guess. E.g.:

http://www.ros.org/wiki/tf2/Tutorials/Migration/TransformListener

[code]

should read:
depend on tf2_ros...   not tf_ros
include subfolder should

[2013-08-06 09:05] tkruse commented on #20
Hm, maybe the part in http://www.ros.org/wiki/tf2/Migration saying "In Hydro tf has been deprecated in favor of tf2." should be removed, given the state of the tutorials and that no package yet seems to use tf2 in C++.

[2013-08-06 17:28] ahendrix opened #22 "tf chaining broken on pr2"
Originally filed by @tkruse  at: https://code.ros.org/trac/wg-ros-pkg/ticket/5176

Hi, using latest apt-get electric on lucid on the PR2, I do:

[code]

Just to make sure no overlays are used

[code]

I also tend to get other tf problems within my custom nodes, but I guess they relate to this original problem.

I don't even know where to start looking for the cause (tf, URDF, some standard node?).

[2013-08-06 17:29] ahendrix commented on #22
Done for Gazebo launch. Though I would hope that was unnecessary, hoping it is easy for you to reproduce.

Anyway, it seems the cause is not too mysterious: in `tf.cpp:Transformer::chainAsVector(const std::string & target_frame, ros::Time target_time, const std::string & source_frame, ros::Time source_time, const std::string& fixed_frame, std::vector<std::string>& output) const`

None of the input

[2013-08-06 17:30] ahendrix commented on #22
@ahendrix: Obsolete with the use of tf2 as the backend for tf. Closing.

@tkruse: I beg to differ. Not only is tf still there and the tf_monitor script part of it, but also tf2/src/buffer_core.cpp:BufferCore::_chainAsVector is a copy&paste implementation (sigh) of tf/src/tf.cpp:Transformer::chainAsVector.

I would prefer you to reopen the issue, and then close it once that either the tf_monitor sc

[2013-08-10 01:59] #19 closed, assigned to nobody

[2013-08-16 21:16] tfoote commented on #21
Things I've found that need to be updated.  turtlesim::Velocity deprecated/removed

several things moved into tf2_ros such as transform_listener.

[2013-08-20 20:04] wjwwood opened #23 "Deadlock in tf2's buffer_core"
When using rviz in Hydro, I ran into a dead lock issue, while debugging I found the problem in this part of the backtrace:

[code]

`tf2::BufferCore::allFramesAsString` tries to lock the `frame_mutex_` before calling `tf2::BufferCore::allFramesAsStringNoLock`, but it has been previously locked by `tf2::BufferCore::canTransform` before calling `tf2::BufferCore::canTransformNoLock` which in turn eve

[2013-08-20 20:20] wjwwood commented on #23
The problem function is `tf2::BufferCore::walkToTopParent`, which is private and only called in two places:
- https://github.com/ros/geometry_experimental/blob/hydro-devel/tf2/src/buffer_core.cpp#L550
  - Which is locked previously here: https://github.com/ros/geometry_experimental/blob/hydro-devel/tf2/src/buffer_core.cpp#L521
- https://github.com/ros/geometry_experimental/blob/hydro-devel/tf2/src

[2013-08-20 20:34] wjwwood commented on #23
I just ran into a second one, here is the backtrace:

[code]

Looks like it is still coming from `walkToTopParent`, but this time the deadlock is occurring in `getLatestCommonTime`, which also calls `allFramesAsString`.

[2013-08-20 21:11] wjwwood commented on #23
`getLatestCommonTime` is more of a problem because it called from both public and private functions...

[2013-08-20 21:15] wjwwood commented on #23
Though both the public and private uses have this comment above it:

[code]

[2013-08-26 20:29] tfoote opened #24 "port backwards time loop deadlock to tf2"
From: https://github.com/ros/geometry/pull/31

[2013-08-28 07:07] #24 closed, assigned to nobody

[2013-08-29 00:42] tfoote commented on #23
getLatestCommonTime is private _getLatestCommonTime is public and deprecated.  I'll add the lock to it and call the no lock inside the private method.

[2013-08-29 00:47] wjwwood commented on #23
+1

[2013-08-29 00:56] #23 closed, assigned to tfoote

[2013-08-29 01:01] tfoote commented on #22
This method was stubbed out when the datastructure was converted and currently lists the parent frames not the spanning set.  It needs to be fixed in both implementations.  Fortunately this problem is only in the chainAsVector methods which are used for console output. But it needs to be fixed in both tf and tf2.

[2013-09-17 13:34] meyerj opened #26 "tf2_ros::Buffer::canTransform() does not abort on node shutdown"
I just had a problem with tf in ROS hydro similar to the one described in [#4882](https://code.ros.org/trac/ros-pkg/ticket/4882) on code.ros.org 2 years ago.

`tf::waitForTransform()` stays in an endless loop and nodes do not shutdown properly if simulated time has been paused. The function seems to use `tf2_ros::Buffer::canTransform()` ([buffer.cpp:87ff](https://github.com/ros/geometry_experiment

[2013-10-04 01:00] bricerebsamen commented on #21
I agree with tkruse. And #20. Given the state of the documentation and so on, it appears that tf2 is not mature yet, so I will wait before migrating.

[2013-10-13 20:56] chadrockey opened #28 "Static Transform Broadcaster keeps incomplete list of transforms"
https://github.com/ros/geometry_experimental/blob/hydro-devel/tf2_ros/src/static_transform_broadcaster.cpp#L60

Shouldn't this compare both header.frame_id AND child_frame_id?  As I see it now, it would be possible to have two static transforms, one from parent -> child and one from parent -> step_child.  However, only one of these would make it through this check and be published.

Any inner impl

[2013-10-14 03:50] tfoote commented on #28
I think it should only be the child_frame_id actually.  Both will have the same parent but that is fine.  And to enable "reparenting" the parent should not be in the comparison.

[2013-10-15 00:40] chadrockey commented on #28
Yup, I think you're right,  I made a pull request and added a test for this case:

https://github.com/ros/geometry_experimental/pull/29

[2013-10-15 00:44] chadrockey opened #30 "Tf2 Tests Calls BufferCore API in Reverse"
https://github.com/ros/geometry_experimental/blob/hydro-devel/test_tf2/test/buffer_core_test.cpp#L660

This calls the function mBC.lookupTransform(SOURCE, TARGET....);

Whereas the API is:
https://github.com/ros/geometry_experimental/blob/hydro-devel/tf2/src/buffer_core.cpp#L517

lookupTransform(TARGET, SOURCE,....)

This probbably isn't a big deal as long as the tests are consistent within themse

[2013-10-15 00:45] #28 closed, assigned to tfoote

[2013-10-17 21:12] jonbinney commented on #21
The python tutorials are also very outdated. Just tried using them and wasn't able to get anything working. For example, they seem to assume that the TransformListener is in tf2, although it has moved to tf2_ros:

http://wiki.ros.org/tf2/Tutorials/Writing%20a%20tf2%20listener%20%28Python%29

[2013-10-21 13:47] jbohren opened #32 "tf2: Standardize a convention to replace the tf_prefix API"
The [migration guide](http://wiki.ros.org/tf2/Migration) leaves this as a "longer term solution" but I think there are a lot of people who use and rely on tf_prefix for multi-robot (even single-master) systems, like modular robots. I think having a way to scope a node, or a component, or a namespace to a specific TF namespace is too common a problem to leave to each individual application.

[2013-10-28 16:30] rnunziata opened #33 "tf_frame ignores tf2 static latch transforms"
tf_frame ignores tf2 static latch transforms. tf2 static latch transforms do not show in tf_frame graph.

[code]

Also to note : no matter how many transforms I send weather independently or via vector only the last transform is published. The model was updated to new links in this case.

[code]

[2013-10-28 17:53] tfoote commented on #33
Please update this description to use proper names of components and provide an example of your problem that is reproducible with the expected output and the failing output.  Until I can reproduce your problem in a minimal use case I cannot understand it or verify that I have fixed it.

[2013-10-29 00:59] tfoote opened #34 "tf2 provide way to preserve tf snapshot past end of buffer"
Originally filed: https://code.ros.org/trac/ros-pkg/ticket/4483

This will allow things to keep data in memory and allow random access back in time noteably.

though this could also be done by using a server fallback

[2013-10-29 01:05] tfoote opened #35 "extend tf2_message_filter to avoid race conditions on callback"
One possibility is to bundle the transform with the callback.

Another is to persist the transform.  Possibly related #34

A third option is to transform the data for the user before the callback.

Related tickets: Threading issue in tf MessageFilter - No guarantee that transform is actually possible https://code.ros.org/trac/ros-pkg/ticket/5488

[code]

tf::message_filters are not intuitive to us

[2013-10-29 21:55] tfoote opened #36 "create a tool to provide callback on events"
Originally here: https://code.ros.org/trac/ros-pkg/ticket/4422

A way to generate events when relative/absolute constraints between frames are violated/reached/broken/....?

This would be the next generation of MessageFilter?

Likely register a callback on a precondition.

We need to be careful of the threading model and not cross threads.

Other suggestions from Herman on the email thread,

Sugge

[2013-10-29 22:08] tfoote opened #37 "create a tool to project camera coordinates"
This would be a nice tool to have built on top of tf could project camera pixels with depth into 3d points in space easily.  Originally: https://code.ros.org/trac/ros-pkg/ticket/1656

We now have lots of cameras in the system, and need to project in and out of pixel coordinates. Each imager/camera can be thought of as being in its own frame, which is non-orthogonal and in pixel coordinates. Points

[2013-10-29 22:11] tfoote commented on #36
This would also cover: https://code.ros.org/trac/ros-pkg/ticket/1172

add way to specify expected frames in tf_listener
This will provide a diagnostic or error output if expected frames are not heard from.

[2013-10-29 22:18] tfoote opened #38 "TF_OLD_DATA has partial error string and can be bad for performance"
It tries to reference a blank page.

https://github.com/ros/geometry_experimental/blob/0838d70c5f89d622c542f64bc93432c53060ff05/tf2/src/buffer_core.cpp#L260

Originally: https://code.ros.org/trac/ros-pkg/ticket/4239

[2013-10-29 22:51] tfoote opened #39 "create action based transform publisher server"
Originally: https://code.ros.org/trac/ros-pkg/ticket/4179

During the poolshark project, I wrote a node that is an action server, takes as a goal a PoseStamped and a frame id, and then periodically publishes the resulting transform to /tf. It's a simple piece of code that might be more generally useful. I'm not sure where it belongs, as it depends on both tf and actionlib.

The code is:  https://c

[2013-10-30 15:04] jbohren opened #40 "Is lookupTwist deprecated?"
In tf2 `BufferCore` the lookupTwist functions are commented out. Are they deprecated and / or is there some alternative?

[2013-10-30 17:20] tfoote opened #41 "view frames should mention the node name of the listener it monitors"
This is non-trivial in some cases. Setting to untargeted.

Originally: https://code.ros.org/trac/ros-pkg/ticket/2946

[2013-10-30 17:37] tfoote commented on #40
I didn't have time to port and test them, so they remain commented out. Adding them back would be great. I just haven't had time.

[2013-11-04 14:15] jbohren opened #43 "Handle re-setting of simulation-time more gracefully"
Currently, buffer_core [issues a warning](https://github.com/ros/geometry_experimental/blob/hydro-devel/tf2/src/buffer_core.cpp#L260) when "old data" is published when a simulation clock source like gazebo gets re-set. In the context of simulation time, if the `/clock` topic also goes backwards in time, then this should be considered neither an error or a warning.

What would be the right way to m

[2013-11-07 17:25] chadrockey opened #46 "tf2_tools view_frames.py doesn't listen to /tf_static"
To duplicate issue:

rosrun tf2_ros static_transform_publisher  1 2 3 0 0 0 1 parent child

rosrun tf2_tools view_frames.py

It doesn't show the parent and child in this case, just shows no frames received.

[2013-11-28 17:11] airballking commented on #21
Related question: I looked at the tf2-version of the time travel tutorial:

http://wiki.ros.org/tf2/Tutorials/tf2%20and%20time%20%28C%2B%2B%29

It uses a tf2_ros::TransformListener::waitForTransform(...). Looking at the code in the repo, I cannot find a waitForTransform function. In fact, I just cloned the entire repo and recursively grepped for waitForTransform --nothing.

Is waitForTransform(...

[2013-12-03 08:22] wjwwood opened #48 "tf2 missing include_directories for console_bridge"
`tf2` calls `find_package` on `console_bridge`, but does not call `include_directories` on `console_bridge_INCLUDE_DIRS`:

https://github.com/ros/geometry_experimental/blob/hydro-devel/tf2/CMakeLists.txt#L4

This causes a build failure in a truly isolated catkin workspace build.

[2013-12-26 19:52] dirk-thomas commented on #48
This is still breaking isolated builds. Please fix and release.

[2013-12-26 21:46] #48 closed, assigned to tfoote

[2013-12-26 21:49] #38 closed, assigned to nobody

[2013-12-26 22:52] #46 closed, assigned to tfoote

[2014-01-08 09:47] vrabaud commented on #21
Even more critical, some files do not exist anymore (and I therefore could not fix the tutorial myself):
http://wiki.ros.org/tf2/Tutorials/Writing%20a%20tf2%20broadcaster%20%28C%2B%2B%29
refers to trunk_cturtle/stacks/ros_pkg_tutorials/turtle_tf2/src/turtle_tf2_broadcaster.cpp

[2014-01-15 02:49] tfoote opened #50 "python3 compatability issue"
From @focs at https://github.com/ros-gbp/geometry_experimental-release/issues/1

Hi,
I'm trying to compile ros on my gentoo system. I got stuck while trying to compile the tf2 package:

./src/catkin/bin/catkin_make_isolated --pkg tf2 --force-cmake

The error is:

[100%] Building CXX object CMakeFiles/tf2_py.dir/src/tf2_py.cpp.o
/home/fox/ros_catkin_ws/src/tf2/src/tf2_py.cpp:62:1: error: invalid co

[2014-02-03 19:13] jack-oquin opened #52 "tf2_ros: Python documentation missing"
It looks like there was an attempt to move the Python documentation from the tf2 package to tf2_ros, but that activity was not completed.

The fix is probably not difficult. I notice that `index.rst` is missing and also the rosdoc element in package.xml:

[code]

The Sphinx `conf.py` looks wrong, too. If I can find some time, I'll submit a pull request.

[2014-02-04 01:21] jack-oquin commented on #20
Any chance of getting these problems fixed? They are still broken.

See also: #52

[2014-02-04 02:18] jbohren commented on #20
Additionally all the functions that transform twists in BufferCore are still commented out.

[2014-02-04 09:00] tkruse commented on #20
Possibly the wiki could at least warn users that the tutorials are outdated, in order to prevent scaring off new users.

[2014-02-04 14:29] jack-oquin commented on #20
+1

I wasted a couple of hours yesterday trying to figure out how to use `tf2` for a simple task, only to discover that the documentation is wrong, contradictory and confusing. `tf2_ros` has no Python API docs at all. I finally gave up on `tf2`, and got the job done using `tf` in no time at all.

If I had known `tf2` is not yet ready for general use, I would not have wasted all that time.

[2014-02-08 21:17] trainman419 commented on #21
+1; I ran into missing files for tf2 as well.

[2014-02-08 21:26] trainman419 commented on #21
This has also been asked on ROS answers, and remains sadly unanswered: http://answers.ros.org/question/123336/where-is-tf2_echo-and-turtle_tf2/

[2014-02-13 08:40] trainman419 opened #53 "Transitive link dependency on orocos_kdl is not handled properly."
_I'm not entirely sure if this is a bug against tf2_geometry_msgs, orocos_kdl or catkin. Filing here first because I'm seeing it when trying to link against tf2_geometry_msgs._

When using and linking against tf2_geometry_msgs, I get the following linker error. I think this is because either tf2_geometry_msgs doesn't specify it's dependency on orocos_kdl properly, or the library dependency isn't p

[2014-02-14 02:51] jbohren commented on #53
Yeah, this is because `${orocos_kdl_LIBRARIES}` has target names and not absolute paths, so `catkin_package(DEPENDS)` doesn't capture the right flags. More detail here: https://github.com/ros/catkin/issues/535

The easiest solution would be to add the following to `tf2_geometry_msgs`:

[code]

[2014-02-19 14:58] bchretien commented on #20
@jack-oquin: :+1: I just had the same experience.

As @tkruse said, saying that `tf` is deprecated in favor of `tf2` is really misleading since the documentation is either wrong or missing.

[2014-02-19 16:47] jack-oquin commented on #20
I added this to the http://wiki.ros.org/tf2/Migration page:

There may be other wiki pages that could use similar warnings. I linked it to this issue so people will know when it has been resolved.

[2014-02-20 00:14] athoesen commented on #20
Wow.  You literally just saved me hours and hours of frustration which I cannot afford at the moment.  Thank you @jack-oquin .  So I was about to start the tf2 tutorials and now I'm seeing this is a terrible idea and I should just stick with tf in Hydro?

[2014-02-20 01:05] jack-oquin commented on #20
That is my opinion. Your experience may differ.

As best I can tell, tf2 works fine in Hydro, but some documentation is missing, and some of what exists seems to be wrong. The old tf still works, and looks like a reasonable alternative until someone with the requisite knowledge straightens out the tf2 docs.

[2014-03-06 01:28] tfoote opened #54 "use new rospy publisher syntax to avoid hanging"
Take advantage of: https://github.com/ros/ros_comm/issues/308

[2014-03-06 02:30] tfoote commented on #54
Cherry picked into indigo: fd73a6fe446e04367767b645858a14790331f57d

[2014-03-06 02:30] #54 closed, assigned to nobody

[2014-04-29 07:48] tfoote opened #61 "Replace deprecated boost signals with boost signals2"
This is to match ros/ros_comm#267 and ros/geometry#23

[2014-05-16 18:50] trainman419 opened #64 "Provide a way to clear tf2 buffers when the clock is reset"
When running a simulation or playing back a bag file with --clock, I often try to leave most of my nodes running, and only restart the thing that is publishing to /clock

Unfortunately, the tf2 internal buffer does not reset when /clock jumps backwards, and the tf2 subscribers don't have a manual mechanism to tell them that the clock has been reset, and they should clear their buffers.

See http:/

[2014-05-16 20:32] jbohren commented on #64
+100

[2014-05-20 03:05] jbohren opened #66 "handful of TF tools"
I've been maintaining a handful of TF tools over in https://github.com/jhu-lcsr/lcsr_tf_tools

Of these, two of them could be useful in general to the larger community:
- **`interactive_transform_publisher`** Publishes a TF frame based in an interactive marker
- **`twist_frame_integrator`** Publishes a TF frame based on the integration of a `geometry_msgs/Twist` message

Any interest in merging th

[2014-05-20 05:55] tfoote commented on #66
The interactive_tansform_publisher definitely is generally of interest. I'd want to review it's dependencies to make sure it's not too heavy weight. But i think it could be merged into tf2_tools after a review.

The twist integrator seems like it would be better released as a library. Running it as script is hard to do things like reset the integration etc. Also the multiplier parameters seem odd

[2014-06-12 16:36] v4hn commented on #64
+1 In theory there should be a mechanism in place to _automatically_ clean the buffers when a loop is detected. I know this worked with tf by EOL in fuerte because I fixed it myself.
Also, I remember, @tfoote afterwards pushed some related changes for tf2.
I didn't investigate, but I currently have problems with tf2 and rosbag play --loop as well (current hydro).

[2014-06-12 16:39] v4hn opened #67 "rosdistro update to 0.4.11 for hydro"
The 0.4.11 release in the hydro-devel branch didn't make it to the official package repo.
As this release fixes a bug I fixed in _march_, it would be great to see this in rosdistro and the binary packages.

[2014-06-20 17:33] trainman419 commented on #53
Bump. I just ran into this again while trying to use tf2_geometry_msgs.

[2014-06-27 16:08] #67 closed, assigned to nobody

[2014-07-03 13:46] jbohren commented on #26
This has also been observed and reported on ros-answers: http://answers.ros.org/question/182811/bug-or-intended-behaviour-transformlistenerwaitfortransform-does-not-poll-rosok/?answer=182844#post-id-182844

[2014-07-24 07:58] destogl commented on #21
Hello all,

yesterday I finally managed to lookup transforms with tf2. I also posted my way on the [answers.ros.org](http://answers.ros.org/question/187433/tf2-example/#187611).

Is this way how should be done in tf2? What I do not understand is why isn't there tf2_ros::TransformListener::lookupTransform() method? Should be really done directly with buffer?

I would like to put a bit effort and ti

[2014-07-24 08:07] trainman419 commented on #21
Confirmed; that's the correct way to use tf2.

Having the buffer separate from the transformListener is advantageous in some applications, where there may not be a listener, such as when reading transforms from bag files, or when using tf2 as a standalone transform library inside a larger application.

[2014-07-24 08:39] destogl commented on #21
Ok, but wouldn't be reasonable, to preserve "compatibility" to tf, put also lookupTransform method into tr2_ros::TransformListener, which will than call underlying function from buffer?

[2014-07-24 17:16] tfoote commented on #21
tf2 is a new clean API. The point of changing the namespace is to allow us to clean up the API. If you want to use the tf API it's still available for compatibility. (It uses tf2 under the hood)

[2014-07-25 23:25] destogl commented on #21
Hi again... I just created, or better say migrated, turtle_tf tutorial to [turtle_tf2](https://github.com/destogl/geometry_tutorials/tree/tf2_tutorial/turtle_tf2) tutorial. As soon as the [issue](https://github.com/ros/geometry_tutorials/issues/4) is solved they will be geometry_tutorials package. Now would be great if somebody has time to start rewriting tutorial pages, since I am not sure if I m

[2014-07-28 16:40] venabled commented on #54
Just as a heads up @tfoote , In order to publish high-rate transforms, or multiple transforms in a single callback I needed to increase the queue_size in the TransformBroadcaster class. Would recommend that you either increase queue size or allow it as a parameter to be passed into the class constructor.

[2014-07-29 21:43] ahubers commented on #39
Found this comment through a Google search. In the past I've just written a simple subscriber to publish a static transform periodically. However an action server would be a better way to deal with this.

If this code was written in Python I'd love to steal it.. Additionally, I'm not opposed to rewriting and sharing.

[2014-08-13 07:59] davetcoleman commented on #21
+1 I just ran into these missing tutorials as well

[2014-08-14 13:02] ZdenekM opened #69 "TransformListener: ability to subscribe to arbitrary TF topic"
I found out that for some multirobot experiments it would be nice to have ability to construct `TransformListener` which will listen to arbitrary TF topic (let's say `/robot1/tf` instead of `/tf`). This change should be very simple - I would add another constructor with parameters for tf and tf_static and use provided topics in `TransformListener::init()`. If no one has objection, I can prepare pu

[2014-08-14 18:28] tfoote commented on #69
Most use cases simply use the remapping arguments. Is that not adequate for your use case?

[2014-08-15 07:10] ZdenekM commented on #69
I'm working on kind of multirobot monitoring tool but I want to subscribe only to one robot's TF at the time to save bandwidth. While it would be possible to prepare some node in the middle which may handle "online remapping" (subscribing to /robotX/tf and republishing as /tf) I guess this will lead to strange effects after switch (moreover, there will be some additional - unnecessary processing/d

[2014-08-15 07:13] ZdenekM commented on #64
+1

[2014-08-18 00:52] tfoote commented on #69
I think you can actually do this already by passing in a custom node_handle with the appropriate remappings applied to it but not to the general use one.

[2014-08-25 12:01] ZdenekM commented on #69
Thanks Tully, I completely missed this possibility. I will give it a try.

[2014-09-02 11:11] #69 closed, assigned to nobody

[2014-09-17 12:58] skohlbr commented on #64
+1

[2014-09-18 01:50] tfoote commented on #64
duplicate #43

[2014-09-18 01:50] #64 closed, assigned to nobody

[2014-09-18 02:46] trainman419 commented on #43
+1 to getting this fixed.

[2014-09-18 04:57] tfoote commented on #61
Fixed in links above

[2014-09-18 04:57] #61 closed, assigned to nobody

[2014-12-24 04:54] #53 closed, assigned to nobody

[2015-01-05 07:17] tfoote commented on #21
Thanks to the work of @Shokoofeh in geometry_tutorials most of the tf2 tutorials have been filled out. I've walked through the c++ tutorials at: http://wiki.ros.org/tf2/Tutorials I still have the python tutorials to verify.

[2015-02-02 23:19] vrabaud opened #80 "message_filter behavior with "/" frames"
Just wondering whether it's a design decision or a bug.

With tf2, your frames cannot start with "/". Good.

Now, I have an old ROS bag (from navigation) where frames do start with "/". There is a tf2_ros::message_filter on those but it assumes the frames do not start with "/". This results in miscellaneous errors.

What is the correct behavior ?
- this bag is wrong and cannot work with tf2 so the

[2015-03-04 01:37] tfoote commented on #21
I walked through all the python tf2 tutorials yesterday. They can now be followed.

[2015-03-04 01:37] #21 closed, assigned to tfoote

[2015-03-04 01:41] tfoote commented on #30
It's ok, that's the difference between referring to transforming a frame or a point in the frame. In the test the variable names are transforming a coordinate frame, all the APIs refer to transforming the data. The result is the inverse.

[2015-03-04 01:41] #30 closed, assigned to nobody

[2015-03-04 02:01] tfoote commented on #33
Without more clarification I cannot reproduce part 1.

I cannot reproduce the vector issue. sending two transforms left and right results in two messages being sent.

output of `rostopic echo /tf_static`

[code]

[2015-03-04 02:01] #33 closed, assigned to nobody

[2015-03-04 05:29] davetcoleman commented on #21
Awesome, thanks!

[2015-03-06 18:38] tfoote commented on #20
The tutorials have been updated, and I've added links to action based examples. The installation issues were resolved a while ago. If there's anything more specific please open individual tickets.

[2015-03-06 18:38] #20 closed, assigned to tfoote

[2015-03-11 19:11] bricerebsamen opened #84 "undefined reference to `tf2::BufferCore::_allFramesAsDot() const'"
after #74 I get this error
/opt/ros/indigo/lib/libtf.so: undefined reference to `tf2::BufferCore::_allFramesAsDot() const'

to reproduce: create a workspace with the ros/velodyne repo and the ros/geometry_experimental repo, both of them checked out to the latest version.

I bisected on ros/geometry_experimental and I confirmed #74 is the culprit

[2015-03-11 22:22] tfoote commented on #84
Is your workspace in /opt/ros/indigo? It's odd that you're getting that issue from /opt/ros/

I've seen the same issue on our new test farm: http://54.183.26.131:8080/job/Idev__geometry_experimental__ubuntu_trusty_amd64/6/console

But the old farm is passing: http://jenkins.ros.org/job/devel-indigo-geometry_experimental/  And I cannot reproduce this on my desktop.

[2015-03-11 22:29] bricerebsamen commented on #84
no I created a dedicated workspace in my home dir that contains only those 2 repos. So tf is pulled from `/opt/ros/indigo`
Note: I built using `catkin_tools`

[2015-03-12 00:53] tfoote commented on #84
You shouldn't be using symbols from /opt/ros that depend on a source overlay.

However I've also attempted a rework to overload instead of have a default method. Can you try the fix_84 branch?

[2015-03-12 01:02] tfoote commented on #84
Hmm, I just noticed you're having issues with allFramesAsDot that's different than the allFramesAsYAML which i'm reproducing.

Some more info:
First pass is producing a void argument symbol, rming devel and build produces double

[code]

buffer server linking successfully:

[code]

Failed linking:

[code]

[2015-03-12 01:08] tfoote commented on #84
I patched fix_84 for _allFramesAsDOT as well.

[2015-03-12 01:23] bricerebsamen commented on #84
yep that fixes it!

[2015-03-12 01:33] #26 closed, assigned to tfoote

[2015-03-12 01:53] #84 closed, assigned to tfoote

[2015-03-17 21:53] tfoote commented on #43
Fixed in 619a1329854d8e6fcc78c576a53594f2caadf383 ported forward from #68

[2015-03-17 21:53] #43 closed, assigned to nobody

[2015-03-18 00:28] tfoote opened #88 "intermittent test failure of time_reset_test"
This test is failing intermittently during my development.

[code]

[2015-03-18 13:49] marbosjo opened #89 "Successive sended transforms from a node not being received by tf2 python"
Hello,

we are porting the camera_pose_calibration (https://github.com/ros-perception/camera_pose) package to indigo and have found a bug in the tf2 python implementation. If two or more transforms are sended from the same node using successive calls to:

[code]

Even with different TransformBroadcaster objects, only the last one is received by the tf core. If a delay is introduced by successive c

[2015-03-19 01:49] tfoote commented on #89
It looks like the c++ broadcaster as [a sending queue of 100](https://github.com/ros/geometry_experimental/blob/indigo-devel/tf2_ros/src/transform_broadcaster.cpp#L42)
while the python implementation has [a send queue of 1](https://github.com/ros/geometry_experimental/blob/indigo-devel/tf2_ros/src/tf2_ros/transform_broadcaster.py#L44)

The python should be made to match the c++ as this is causing

[2015-03-20 08:01] mrath commented on #89
Fixed with queue_size 100 in pull request #90.

[2015-03-20 18:08] tfoote commented on #89
Fixed in #90

[2015-03-20 18:08] #89 closed, assigned to nobody

[2015-04-02 03:08] bricerebsamen opened #91 "deadlock"
I migrated some of my code to tf2 and I'm getting some deadlocks. I am running the latest version from source, which included @vrabaud 's fix #79

Here is the backtrace

[code]

[2015-04-02 04:11] bricerebsamen opened #92 "double free or corruption (fasttop)"
I migrated some of my code to tf2 and it crashes from time to time. I am running the latest version from source. Here is the backtrace:

[code]

[2015-04-02 04:16] bricerebsamen commented on #92
Both this issue and #91 happen in the same program. The program creates a few message callbacks (single threaded), a thread to do the heavy computation, and a transform listener. As a result the program contains 3 threads. Also one of the message callbacks broadcasts transforms. I have a bunch of mutexes to protect my data, but I am assuming that the tf buffer is thread safe.

[2015-04-02 04:16] tfoote commented on #92
Can you provide any more info on what to do to reproduce this? It looks like it's crashing inside a push_back on a std::vector, which makes corruption much more likely.

[2015-04-02 17:08] bricerebsamen commented on #92
@tfoote it seems that we both posted at the same time. I am not sure you saw the description about what my program. And I just updated it. This is a very high level description and probably not enough information. I am not sure what else to say though.

When you say it makes corruption more likely what do you mean exactly? A stray pointer in my code that corrupts the tf buffer?

[2015-04-02 17:53] tfoote commented on #91
Can you get the backtrace for the other threads?

[2015-04-02 20:29] tfoote commented on #91
@bricerebsamen can you try out #93 I think that should resolve this issue.

[2015-04-02 20:46] bricerebsamen commented on #91
will do right away. I can't reproduce for sure though, but I'll report asap.

[2015-04-02 21:03] tfoote commented on #91
Great thanks

[2015-04-02 21:11] tfoote commented on #92
Yeah, I didn't see your comment. The tf buffer is supposed to be thread safe. I was mostly referring to it not being a double free.

There are two possibilities, one is that the vector operations are not all properly protected with a mutex and two things are adding/removing iterating at the same time, or yeah it could be a complete smash where a pointer is walking into the wrong area.

I'll dig in

[2015-04-02 22:12] bricerebsamen commented on #92
I got another crash:

[code]

Here is the backtrace for that thread:

[code]

And for each thread:

[code]

[2015-04-02 22:18] bricerebsamen commented on #92
and for the original double free problem:

[code]

[2015-04-02 22:51] bricerebsamen commented on #91
here is the full backtrace (for all threads), without #93:

[code]

[2015-04-03 00:08] #88 closed, assigned to tfoote

[2015-04-03 01:00] jackieokay commented on #22
Proposed solution in [pull request 95](https://github.com/ros/geometry_experimental/pull/95). @tkruse and @ahendrix : feel free to review.

[2015-04-03 06:26] tfoote commented on #91
I believe that this confirms that the fix in #93 will fix the problem.

Threads 1 and 16 are blocked waiting on the lock in question. While thread 7 is holding the lock in frame 13.

But thread 7 is then waiting on another lock (speculatively one of the message list locks in message filters) which presumably threads 1 or 16 is holding. With the patch, thread 7 will no longer maintain the lock duri

[2015-04-03 20:09] bricerebsamen commented on #91
hard for me to confirm that it fixes my deadlock since it happens pretty infrequently. I'll keep testing and I'll report if it happens again.

In order to automate my testing, I'd like to know, when the test (rostest) is over, all the nodes are killed, what signal is being sent to them? i.e. my test has a playback node that is tagged as `required="true"` and so when the data playback is over the t

[2015-04-03 20:15] bricerebsamen commented on #91
actually, in this case, my rostest ends when the test node returns

[2015-04-03 21:08] #52 closed, assigned to jacquelinekay

[2015-04-03 21:42] bricerebsamen commented on #91
I made some extensive testing, and the deadlock is still there.

[2015-04-03 21:46] jack-oquin commented on #52
I still don't see the Python docs on the wiki. Is it waiting for the build farm to update?

[2015-04-03 21:52] bricerebsamen commented on #91
and to clarify, the first backtrace is for the blocked thread, which is thread 1. There is no thread 16

[2015-04-03 22:02] tfoote commented on #52
the online docs take up to 3 days to refresh. I'll try to accelerate this one

[2015-04-03 22:03] tfoote commented on #91
do you have  a backtrace with #93 in place?

[2015-04-03 22:08] bricerebsamen commented on #91
it's the same one

[2015-04-03 22:23] tfoote commented on #91
Looking at your call tree I see geometry symbols from /opt/ros but geometry_experimental symbols from your workspace. Can you make sure to build all dependencies of your workspace from source? We don't have guaranteed stable ABIs which might cause this and #92

[2015-04-06 20:49] bricerebsamen commented on #91
I'm trying but I'm getting some catkin errors. I have in my workspace `geometry_experimental` and `geometry` and I get this error:

[code]

why is catkin trying to compile `tf.cpp` against `tf2` from `/opt/ros/` and not from my workspace?

[2015-04-06 21:24] bricerebsamen commented on #91
in a workspace that contains only `geometry` and `geometry_experimental`, `catkin_make` is able to complete without error. But in a more complex workspace, with both of them and many other stacks, it fails.

[2015-04-06 21:40] bricerebsamen commented on #91
removing `SYSTEM` from the `include_directories` directive in `tf` solved that compilation problem, even though I don't understand why.

[2015-04-06 22:27] bricerebsamen commented on #91
OK I got my new workspace to compile, with all the dependencies of the workspace built from source. Namely all the following repos plus my own packages:

[code]

With that, I still experience deadlocks and crashes as described here and in #92, with the exact same backtraces

[2015-04-06 22:37] tfoote commented on #91
Can you repaste the backtraces, maybe in a gist. I'd like to see the new line numbers etc. And can you compile with debug symbols on to get more info? -DCMAKE_BUILD_TYPE=RelWithDebInfo

[2015-04-06 23:06] bdou0716 commented on #91
Hi Tully,
I am working with Brice on this issue, here is a link to a github gist containing a gdb back trace, where gdb was attached to the dead locked process once the dead locked was observed. I will get you soon a version with more debug symbols:
https://gist.github.com/abca9756d0f7acaff72a.git
bertrand

[2015-04-06 23:10] bdou0716 commented on #91
Correct link here:
https://gist.github.com/bdou0716/abca9756d0f7acaff72a#file-gdb-bt

[2015-04-06 23:24] bdou0716 commented on #91
This back trace was obtained from a different program from the one Brice has been debugging.

[2015-04-06 23:29] bricerebsamen commented on #91
here is the backtrace that I obtained with debug symbols on:
https://gist.github.com/bricerebsamen/100445f376bd6806686c

[2015-04-07 00:04] bdou0716 commented on #91
I have updated the gist above with additional debug symbols (for other program we are testing on, not the one Brice has been working on), the link again:
https://gist.github.com/bdou0716/abca9756d0f7acaff72a#file-gdb-bt

[2015-04-07 00:17] tfoote commented on #91
Great, those line numbers will be helpful. If it's not the fix from #93 then I'll have to trace usages of the other mutex.

[2015-04-07 00:21] bricerebsamen commented on #91
Here is my analysis of my backtrace. Thread 7 is the transform listener's thread. Thread 1 is the ros spin thread, which is processing a point cloud and adding it to the message filter.

In Thread 1, the message filter's queue is full and so it's popping out old messages. As of `MessageFilter::add` it's holding the `MessageFilter::messages_mutex_` and later in `BufferCore::cancelTransformableReque

[2015-04-07 00:23] bricerebsamen commented on #91
it appears to be the exact same behavior in @bdou0716 's backtrace.

@tfoote thanks for working on this. 3 of us here will try to figure out what's happening as well. Hopefully, all together we will find a solution rapidly.

[2015-04-07 00:46] tfoote commented on #91
That sounds reasonable. I haven't had a chance to trace it. But if that's the case, I think that we likely can simply add the to contract that when transformable is called that the messages_mutex_ should be called for it already. Thus we should move the messages_mutex_ lock outside the transformable_request_mutex_ and if you always lock in the same order they won't deadlock.

So moving https://git

[2015-04-07 00:46] tfoote commented on #91
Also, we need to verify there's no other codepaths into transformable that would need protection.

[2015-04-07 01:36] jhpanetta commented on #92
I found a possible "off the end of a vector" issue:  In tf2, BufferCore::getFrame reads:

[code]

Since frames_ is an std::vector, this has the possibility of referencing beyond the end.  I'd say that the > should be >=.

[2015-04-07 02:45] bricerebsamen commented on #92
similarly here https://github.com/ros/geometry_experimental/blob/indigo-devel/tf2_ros/include/tf2_ros/message_filter.h#L367 shouldn't it be `message_count_ + 1 >= queue_size_`? Although this one will not lead to a segfault, it may result in an actual queue size on element larger than the requested queue size. It does not matter much for large queue sizes but would matter a great deal if you want t

[2015-04-08 17:57] jhpanetta commented on #91
Moving https://github.com/ros/geometry_experimental/blob/indigo-devel/tf2_ros/include/tf2_ros/message_filter.h#L455 to https://github.com/ros/geometry_experimental/blob/indigo-devel/tf2/src/buffer_core.cpp#L1266 won't resolve the deadlock Brice is talking about.  That lock chain involves messages_mutex_ and frame_mutex_ , not transformable_request_mutex_.

The interaction between the two problem l

[2015-04-11 04:08] prclibo opened #98 "Potential feature suggestion for tf extrapolation"
Hi admins. I was wondering if you are interested in adding a feature of transform extrapolation to `lookupTransform`. This can be naively implemented by allowing `TimeCache::findClosest` to return the last two transforms if extrapolation needed. Then the targeted transform can be obtained using the returned last two transforms. I can do a pr on this if this is useful. Thanks.

[2015-04-13 07:57] tfoote commented on #98
Yes allowing extrapolation is technically relatively trivial. The original design of tf explicitly included this as a use case. After testing it was determined that using the naive extrapolation was actually very detrimental to operation because it is very sensitive to the noise signals and could easily turn stable systems into unstable systems.

In theory allowing extrapolation can help avoid pha

[2015-04-16 20:54] #22 closed, assigned to jacquelinekay

[2015-04-16 22:05] tfoote commented on #92
I've patched the getFrame indexing range check in 729a653 The message_filter.h queue size is correct as is. Adding one to the queue size has to overflow the queue to warrent poping values. As an example if the queue is empty and the queue is size 1. If it evaluates equal it will try to pop off from an empty queue which will not work. It could be `message_count_ >= queue_size_` without the `+1`

[2015-04-16 22:08] #80 closed, assigned to tfoote

[2015-04-16 23:22] tfoote commented on #91
@jhpanetta My proposal to move
https://github.com/ros/geometry_experimental/blob/10370e59d2594e907a71c448a2bfb69dbb2e6996/tf2_ros/include/tf2_ros/message_filter.h#L455 to https://github.com/ros/geometry_experimental/blob/eb8dc6109d44ae59488a294177c1d08c00fc4d89/tf2/src/buffer_core.cpp#L1266 places the `messages_mutex_` immediately before the `transformable_request_mutex_` thereby avoiding the dead

[2015-04-16 23:28] bricerebsamen commented on #91
I'm a bit confused: how can `BufferCore` lock the `message_mutex_` in `MessageFilter` when `BufferCore` knows nothing about `MessageFilter`?

[2015-04-16 23:31] tfoote commented on #91
Yeah sorry, that's not going to work.

[2015-04-17 17:24] tfoote commented on #91
I've switched to a shared lock for the messages mutex, which should allow both entry point to iterate the messages simultaneously, and only the mutations require the unique lock. Please try the shared_lock branch.

[2015-04-17 18:32] tfoote commented on #92
I've moved the vector from a member variable onto the stack. That member was not previously threadsafe. Please try thread fix#92 with commit fc80e5b

[2015-04-17 18:33] tfoote commented on #92
@bricerebsamen sorry forgot to ping you for the above

[2015-04-21 08:42] marcoesposito1988 opened #102 "tf.Exception thrown while using waitForTransform when a frame doesn't exist"
As reported by other users as well in http://answers.ros.org/question/207039/tfexception-thrown-while-using-waitfortransform a bug seems to have appeared when using TF.

waitForTransform throws a tf.Exception if one of the frames doesn't exist yet (which is actually the point of waitForTransform).

It must be a bug in TF2. When I checked out geometry 1.11.4 the bug was still there, but when I also

[2015-04-21 15:17] sklaw commented on #102
Here are the combinations of TF and TF2 I've found so far that will cause this problem:
TF 1.11.6 with TF2 0.5.9
TF 1.11.6 with TF2 0.5.8

TF 1.11.4 with TF2 0.5.9
TF 1.11.4 with TF2 0.5.8

[2015-04-21 16:10] tfoote commented on #102
What is the exception thrown? I added unit tests for wait for transform, in https://github.com/ros/geometry/commit/9624370b2327480ee429c5671455e3880825d256

[2015-04-21 16:56] bricerebsamen commented on #92
I tested that patch without #101. It resulted in instant crash:
https://gist.github.com/bricerebsamen/7e1cb4bdbeaf0e376cb8

[2015-04-21 19:42] #91 closed, assigned to tfoote

[2015-04-21 19:50] tfoote commented on #92
Shoot, I missed this comment when I merged #100.

[2015-04-21 20:48] tfoote commented on #92
Looking at that backtrace, we're in setTransform and the only lock in there is the frames_mutex_ (https://github.com/ros/geometry_experimental/blob/729a6531929203720f4a518ac9e79321fe3c5537/tf2/src/buffer_core.cpp#L248) which is a member of the class so should definitely not be null.

[code]

To me this looks like it's getting clobbered. I think that the reason for the change due to #100 is that it

[2015-04-22 02:27] wjwwood commented on #92
I had a look at it and I tend to agree with @tfoote that the tracebacks don't seem to be related to #100. Further more that #100 would not cause any memory corruption issues. The only thing that could tie #100 to the tracebacks here, imo, is if #100 some how exposed an existing bug in an unrelated part of the code. That being said, I think it is extremely unlikely that this is the case.

[2015-04-22 07:39] tfoote commented on #102
Related questions on answers.ros.org
- http://answers.ros.org/question/207582/does-tflookuptransform-python-take-time-to-fire-up/
- http://answers.ros.org/question/207052/rospy-tf-waitfortransform-not-waiting/

[2015-04-22 08:56] tfoote commented on #102
I believe I've found the issue in this commit: https://github.com/ros/geometry_experimental/commit/2f5ba1db9c86043221d49d25683cb2ef82211f1e

When running inside rospy, the roscpp client is not initialized and thus ros::ok is false. I'm going to have to think about how to make this work cleanly in both roscpp and rospy. .

[2015-04-22 13:08] jobstvogt opened #103 "tf2_ros: transform in python doesn't work"
I think the transform-Method of buffer_interface.py doesn't work or can someone show me how to use it?

I need something like transformPose from tf.listener to transform a PoseStamped but with tf2...

As a first solution i have written a helper-method that uses the transform from tfBuffer.lookup_transform to transform the PoseStamped but shouldn't there be a method in tf2_ros for that?

[2015-04-22 17:34] tfoote commented on #103
The transform methods for PoseStamped are defined in [tf2_geometry_msgs](http://wiki.ros.org/tf2_geometry_msgs) In tf2 we use a dependency injection method to not require datatype access in the core.   There's an example using PointStamped you can follow [here](https://github.com/ros/geometry_experimental/blob/indigo-devel/test_tf2/test/test_buffer_client.py)

In general please ask questions on an

[2015-04-22 17:34] #103 closed, assigned to nobody

[2015-04-22 18:41] #102 closed, assigned to tfoote

[2015-04-22 18:43] tfoote commented on #102
This should be fixed in geometry_experimental 0.5.11

[2015-04-23 11:02] jobstvogt commented on #103
I'm sorry, thank you very much!

[2015-05-09 16:44] vrabaud commented on #37
This is actually in OpenCV: http://docs.opencv.org/modules/imgproc/doc/geometric_transformations.html#undistortpoints
And as it is not easy to implement (mostly because of distortion), I'd close this issue  and let people use that function.

[2015-05-09 19:13] davetcoleman commented on #66
+1 to the interactive transform publisher, i've been wanting this for a long time!! @mcevoyandy and I made a similar keyboard-based tf publisher that you can tweak by keyboard which we would also be interested in contributing to tf2

[2015-05-09 19:14] davetcoleman opened #108 "rviz tf display tool does not handle static transforms correctly"
Seems to me static transforms should always display in Rviz, but instead they fade out as if they were non-static. Resetting the tf display makes the transform show again until the "Frame Timeout" is reached. Thoughts?

[2015-05-10 19:12] tfoote commented on #37
Yeah, we shouldn't replicate OpenCV's functionality.

[2015-05-10 19:12] #37 closed, assigned to nobody

[2015-05-10 19:16] tfoote commented on #108
The rviz display needs to be updated to know the difference between regular and static transforms. For efficiency static_transforms are now published as latched topics. The gray out logic in rviz's display does not take that into account. This should be filed against the rviz tf plugin.

[2015-05-10 19:16] #108 closed, assigned to nobody

[2015-05-10 19:53] davetcoleman commented on #108
Sure, i just thought the issue would be seen by the right person (you) on this issue tracker

https://github.com/ros-visualization/rviz/issues/888

[2015-05-10 19:57] tfoote commented on #108
Yeah, thanks for refiling.

[2015-05-17 02:18] tfoote opened #110 "add getYaw helper function"
It saves several lines of code which could easily be done wrong.

https://github.com/ros-perception/slam_gmapping/pull/31/files#diff-ee79bfdef4f6452c01f74517ee41c050R371

[2015-05-17 06:26] vrabaud commented on #110
I can make a PR but where do you see that ? a member function of the tf2::Quaternion object ? A standalone function ? (that could work with tf2::Matrix3x3 and tf2::QUaternion)

[2015-05-17 06:55] tfoote commented on #110
I like the bare function. It would be nice to support extendable datatypes kind of like convert does with the inclusion of the appropriate headers. It doesn't need to be templated as the datatypes can just be overloaded. As a bare function we can also provide it for the message datatypes.

It should probably be something like getHeading for a clearer scope of what it's providing.

I guess it shoul

[2015-05-17 07:16] vrabaud commented on #110
well, there are a few other functions but they are member functions (like setIdentity for a transform).
Should that function be put in https://github.com/ros/geometry_experimental/blob/indigo-devel/tf2/include/tf2/convert.h ? It's already a bit of everything in there and those functions are supposed to work for any datatypes.

[2015-05-17 07:30] tfoote commented on #110
convert.h does seem like a reasonable place. And it can be added side by side with the toMsg fromMsg in the other packages too.

[2015-05-17 13:53] vrabaud commented on #110
#112 might be a solution

[2015-05-17 18:11] mikeferguson commented on #110
+1 to having a getYaw -- especially one that accepts the orientation of geometry_msgs/Pose directly

[2015-05-17 18:22] vrabaud commented on #110
hmm, with #112, it only gives the yaw of anything that can be converted to a tf2::Quaternion. Hence, not a pose. You can just call getYaw(pose.orientation). We could also specialize it for a Pose. I just feel that we should keep it simple. If you feel it should work for several types, please let me know which. I see Transform and Pose. Anything else ?

Just saw that my PR would not work for Stampe

[2015-05-17 18:24] mikeferguson commented on #110
pose.orientation is fine -- I really just want to avoid converting from message to TF to yaw (something I find is an often repeated calculation)

[2015-06-08 20:28] tfoote commented on #110
Fixed in #112

[2015-06-08 20:28] #110 closed, assigned to nobody

[2015-06-08 20:29] #98 closed, assigned to nobody

[2015-07-10 18:07] allenh1 commented on #50
Just wondering if there was any progress on this. As you know, I've been working on the Gentoo installation for some time now. Desktop_Full is failing on package 182 of 230, `tf2_py`, and this is the error I am getting. I'm almost 100% sure this is a python 3 compatibility issue (I'm running Python-3.3.6, and every single problem I've run into with compiling the source is python related... Am I su

[2015-07-10 19:36] allenh1 commented on #50
Update: everything builds if I use Python-2.7.

[2015-07-30 08:07] mistoll opened #116 "Missing convertions"
Once understood the convert method is quite helpfull. But IMO there are some basic convertion methods missing.

For example:
tf2_geometry_msgs.h missing Vector3, Pose, Point (only stamped versions available)
tf2_eigen.h missing Quaterniond, Matrix3d

Furthermore the documentation on creating convertion methods is incomplete or hard to find.

[2015-08-07 08:29] stwirth opened #117 "canTransform does not reset error string when it just times out"
I am using this little function to wait for a tf to become available:

[code]

When the required transform does not become available, after some time I get errors like this:

[code]

That is caused by `err` not being reset to an empty string in `canTransform`. [The message is only appended](https://github.com/ros/geometry_experimental/blob/fccbbd2675e76fc80eff7d46628ef2f74999ae16/tf2_ros/src/buffe

[2015-08-07 20:01] tfoote commented on #117
That seems reasonable for this use case. However the append behavior is not an accident. I believe there are cases where the error passes through a layer or two and the appending behavior is the only way to get the inside error message out.

[2015-08-09 21:17] mikeferguson opened #118 "tf2_sensor_msgs depends on Eigen headers, but does not add them to include path"
On Indigo/14.04: using tf2_sensor_msgs in a package that does not directly depend on Eigen, I get the following error:

[code]

If I then find_package(Eigen) and add the EIGEN_INCLUDE_DIRS, all compiles well. Should the EIGEN_INCLUDE_DIRS be added to the catkin_package(INCLUDE_DIRS ...)? or is there another way to specify this depend without directly having each package need to add Eigen to the CM

[2015-08-12 17:13] vrabaud commented on #118
`catkin_package(INCLUDE_DIRS ...)` is only for build time.
Everything seems there on the CMake side: https://github.com/ros/geometry_experimental/blob/jade-devel/tf2_sensor_msgs/CMakeLists.txt#L11

You are using a deb package and when looking at /opt/ros/indigo/share/tf2_sensor_msgs/cmake/tf2_sensor_msgsConfig.cmake, do you have `/usr/include/eigen3` in there ?

[2015-08-12 17:33] mikeferguson commented on #118
Ok, it does appear that the tf2_sensor_msgsConfig.cmake has eigen3 in it... not really sure what is going on then.. and now I can no longer reproduce the error, so there must have been something wonky in my environment at the time. Sorry for the noise.

[2015-08-12 17:33] #118 closed, assigned to nobody

[2015-08-12 22:29] vrabaud commented on #92
@bricerebsamen , does that still happen with master ?

[2015-08-13 06:27] vrabaud commented on #116
right, this documentation needs advertisement, like on the wiki.
You mention a few types, but what would they convert to ? Thx

[2015-08-13 19:05] bricerebsamen commented on #92
I don't have the means to test that anymore, sorry
On Aug 12, 2015 3:29 PM, "Vincent Rabaud" notifications@github.com wrote:

[2015-08-13 23:14] peci1 opened #120 "Update documentation - using the transform() and doTransform() method on point clouds"
On http://wiki.ros.org/tf2, there is no mention about the possibility of transforming and otherwise handling point clouds with tf2/tf2_ros/tf2_sensor_msgs.

I did a "survey" for my needs and collected what I found in http://answers.ros.org/question/11556/datatype-to-access-pointcloud2/?answer=215829#post-id-215829 . However, I can't say I understand it from such a "high-level" degree that I could

[2015-08-17 09:15] peci1 opened #121 "Bad import in tf2_sensor_msgs.py"
In tf2_sensor_msgs.py, line 32:

[code]

However, there's no `read_cloud` method in sensor_msgs.point_cloud2 (both in indigo-devel and jade-devel). There's however a similar method called `read_points` there. Did you mean this one?

This also means (and I've checked it) there's a missing Python test.

[2015-08-17 11:45] mistoll commented on #116
Nice convertions would be:
Eigen::Quaterniond <=> geometry_msgs::Quaternion
Eigen::Vector3 <=> geometry_msgs::Vector, geometry_msgs::Point
Eigen::Matrix3d <=> geometry_msgs::Matrix
Also great (but might be incompatible)
Eigen::Matrixxd <=> geometry_msgs covariances (e.g. float64[36])

[2015-08-17 13:18] vrabaud commented on #116
Ok, if you have any other types that you'd like to have converted, please add in here.

Eigen::Vector3 <=> geometry_msgs::Vector, geometry_msgs::Point

is a tricky one: a vector is not the same things as a point in ROS (a vector is a direction, that is therefore not translated when a transform is applied to it, cf https://github.com/ros/geometry_experimental/blob/jade-devel/tf2_geometry_msgs/inclu

[2015-08-17 13:44] mistoll commented on #116
I wasn't aware of the doTransform method. That complicates things.

So what do you recommend for those non-bijective mappings? Should everyone implement them application-specific or not use convert at all?

[2015-08-17 16:10] peci1 opened #122 "Make tf2::BufferCore::setTransfrom virtual"
I'd like to subclass the tf2_ros::Buffer class to see when the setTransform method gets called (write a log entry for example). But I can't since setTransform is not virtual. Is there any problem with making it virtual?

[2015-08-17 21:27] tfoote commented on #116
If it's not bijective it shouldn't use the convert method. You should
define a method which captures the semantic meaning, potentially
application specific, potentially somewhat generic and shareable between
similar applications as any function can be done already.

On Mon, Aug 17, 2015 at 6:44 AM, mistoll notifications@github.com wrote:

[2015-08-17 22:39] tfoote commented on #122
That could be considered, I don't know of any problem. Note: setTransform is in tf2::BufferCore not in tf2_ros::Buffer.

[2015-08-17 22:43] peci1 commented on #122
Thanks, that'd be helpful.

In the title, there is correct location of setTransform, and in the issue body I just state that I'd like to subclass Buffer (and not directly BufferCore). That's just for clarification, no offence ;)

[2015-09-23 22:04] bricerebsamen opened #124 "transforming a Vector3 in python applies the translation"
according to the doc:

[code]

(from http://docs.ros.org/jade/api/geometry_msgs/html/msg/Vector3.html)

the following code shows that it's not the case:

[code]

As a result, `vt.z` is 1, so the translation is applied.

[2015-09-23 22:05] bricerebsamen commented on #124
This program can be used to test:

[code]

[2015-09-23 22:05] bricerebsamen commented on #124
Note: I tested under `indigo`, I haven't tested with `jade`

[2015-11-16 18:52] tfoote commented on #121
Fixed in #119

[2015-11-16 18:52] #121 closed, assigned to nobody

[2015-12-07 09:41] tfoote commented on #124
Thanks for the report. This definitely looks like a bug.

[2015-12-08 23:53] ille-s opened #127 "catkin build tf2_bullet ERROR"
Hello guys,

I'm using Ubuntu 14.04 (Trusty) and try to install **tf2_bullet** package with the command:
**catkin build tf2_bullet**.
I had no problems installing the other packages from geometry_experimental with catkin tools,
only tf2_bullet fails.

I checked for similar problems but could not find any solution for indigo, just  an old package for groovy to install the **bullet** package from ht

[2015-12-09 19:54] tfoote opened #129 "intermittent test failure"
The tests usually pass, but once I got this failure message:

[code]

It's probably a race condition in the tests. Rerunning 3 times afterwards does not reproduce the error.

[2015-12-09 21:34] tfoote opened #130 "Convert python "test.py" scripts into unit tests"
There are several packages with test.py in the scripts folders that are not being run as unit tests. They should be updated to do so and we can get automatic tests from that.

[2015-12-09 22:49] ille-s commented on #127
found this one here http://packages.ros.org/ros-shadow-fixed/ubuntu/pool/main/r/ros-indigo-tf2-bullet/
Installed the package with command

[code]

After that

[code]

was successful.

[2015-12-09 22:49] #127 closed, assigned to nobody

[2015-12-09 23:59] tfoote commented on #127
You were probably missing `libbullet-dev` which is a rosdep. Installing the debian package for tf2_bullet will automatically pull in that dependency for you. [See the dsc](http://packages.ros.org/ros-shadow-fixed/ubuntu/pool/main/r/ros-indigo-tf2-bullet/ros-indigo-tf2-bullet_0.5.12-0trusty.dsc)

[2015-12-10 17:24] cmansley commented on #116
I agree with @tfoote, but we should define which conversions are the bijective ones and which are not. Because `geometry_msgs::Pose` is being converted into `tf2::Transform` in tf2_geometry_msgs.h, but it could have easily been `geometry_msgs::Transform` instead.

And these conversion functions are replicated in the buffer_core.cpp.

So, I guess there are two things.
- When do we use the convert i

[2015-12-11 18:28] #124 closed, assigned to nobody

[2015-12-15 13:35] spaghetti- commented on #50
We still need to fix this though.

[2015-12-15 19:00] allenh1 commented on #50
Ya - that would be good. Let me know if I can do anything.

[2015-12-22 08:36] g-gemignani opened #138 "tf2_ros static_transform publisher does not check for non unitary quaternions"
I believe the node should check if the angles passed in input are Euler angles or quaternions. If quaternions it should check if they are unitary or not.

[2015-12-22 17:21] tfoote commented on #138
Can you provide a case where it does not differentiate? It checks the number of arguments to differentiate euler angles vs quaternions.

Checking the normalization of the quaternion would be a good idea a PR to add a validation in util.h and use it in the static transformer program would be appreciated.

[2015-12-23 08:11] g-gemignani commented on #138
As requested I created a PR

[2015-12-23 08:11] #138 closed, assigned to nobody

[2015-12-24 04:49] tfoote commented on #138
@g-gemignani can you link to the PR? I do not see it at the moment.

[2015-12-24 05:39] g-gemignani commented on #138
@tfoote here is the link. I committed on my previous PR. Hope it's not a problem.

https://github.com/ros/geometry_experimental/pull/133

[2016-01-11 12:35] boris-il-forte opened #141 "Insufficient documentation for tf_eigen/kdl/bullet"
Hi,

As tf is now deprecated, I started porting some of my code from tf to tf2.

Unfortunately it was not so easy, principally because seemes that now using tf geometry library is now "deprecated", so I decided to use instead the eigen library.

The problem is that the documentation is insufficient: as far as I can tell is missing a full example with eigen/kdl/bullet to recieve and send transforms

[2016-01-12 10:06] boris-il-forte opened #143 "[BUG] Linking error when using tf2_eigen"
Hi,

If tf2_eigen.h header is included in multiple files, a linking error occurrs, as is missing the inline keyword, to allow multiple definitions.

see #142

[2016-01-15 10:13] firesurfer opened #145 "Compiler error due to not found message headers"
Hey,
I tried using the TransformBroadcaster in my own program (c++).
After adding the include

[code]

I got the following errors from the transform_broadcast.h file:
First it couldnt find the #include "geometry_msgs/msg/transform_stamped.h"
I solved this by changing the include to:

[code]

Second it couldnt find the tf2_msgs::msg::TFMessage
I fixed this by adding the include

[code]

[2016-01-15 18:12] tfoote commented on #145
Can you clarify where and how and what version you're using?

[2016-01-15 18:34] firesurfer commented on #145
I'm using the version that comes with ros2 alpha 3.

How: I'm having a project where I include the file:

[code]

Error:
I get this error and some more errors all complaining about that it can't find tf2_msgs

[code]

Solution:

In the file: ~/workspace/ros_ws/install/include/tf2_ros/transform_broadcaster.h add the following line:

[code]

What is kind of strange that I can't reproduce the error t

[2016-01-15 21:36] tfoote commented on #145
Thanks, yes it should be .hpp

The .h files are generated for C, you probably now have C support in your workspace so the include finds a file but doesn't have the right definitions.

[2016-01-18 20:11] trainman419 opened #148 "Non-virtual destructor in tf2_ros::BufferInterface"
When compiling against tf2_ros with `-Wnon-virtual-dtor` we get the following warning:

[code]

[2016-01-25 19:01] dirk-thomas opened #149 "compiler warning on Windows"
http://ci.ros2.org/view/packaging/job/packaging_windows/103/warnings34Result/

[2016-01-28 16:34] NikolausDemmel commented on #32
Are there any ideas how this should look like?

The [tf2 design page](http://wiki.ros.org/tf2/Design#Multi-Robot_Support) still mentions `tf_prefix` as the solution for multiple robots. It later contradicts this by stating that `tf_prefix` has been removed.

[2016-02-12 08:16] tfoote commented on #149
all but 2 of these are resolved in #153

The one remaining one is ctime vs ctime_s, it will take a few hours to figure out how to best work around that. The current fix moved from ctime being an issue to localtime which has the same unix/windows dichotomy of available methods despite it supposed to be a standard.

[2016-02-17 02:13] tfoote commented on #145
fixed in #146

[2016-02-17 02:13] #145 closed, assigned to tfoote

[2016-02-17 21:29] wjwwood opened #156 "[ros2] tf2_monitor does not output any broadcasters or frames"
To reproduce (using alpha 4 rc extracted to `~/ros2`):
- `source ~/ros2/setup.bash`
- `~/ros2/bin/tf2_ros/static_transform_publisher 0 0 1 0 0 0 1 foo bar`
- `./tf2_monitor foo bar` or just `./tf2_monitor`

This is what I get:

[code]

A similar set of actions in ROS 1 gets me something like this:

[code]

Also the reported time from the `tf2_monitor` gives large net delays, which might also be a

[2016-03-04 03:02] tfoote commented on #143
Resolved in #158

[2016-03-04 03:02] #143 closed, assigned to nobody

[2016-03-04 03:05] tfoote commented on #149
last part in #154

[2016-03-04 03:05] #149 closed, assigned to nobody

[2016-03-11 16:43] tpet opened #159 "Missing type checks at Python/C++ interface"
There seems to be missing "type" checks at the Python/C++ interface causing quite unpredictable behavior if the inputs are not as expected. Namely, in tf2_ros.Buffer.set_transform it is not checked that the fields on the rotation and translation objects actually exist.

E.g., running the code below (rotation and translation mismatched)

[code]

completes fine but leads to a silent exception in the

[2016-03-11 17:01] tpet commented on #159
The relevant lines seems be
https://github.com/ros/geometry_experimental/blob/indigo-devel/tf2_py/src/tf2_py.cpp#L395
https://github.com/ros/geometry_experimental/blob/indigo-devel/tf2_py/src/tf2_py.cpp#L426
https://github.com/ros/geometry/blob/indigo-devel/tf/src/pytf.cpp#L410

[2016-03-11 18:55] tfoote commented on #159
That seems like a reasonable improvement to make the API safer. If you have time to make a PR that would help make this happen sooner.

[2016-03-21 20:18] tfoote opened #160 "promote geometry_experimental to geometry2"
We should take this opportunity to review the documentation and make sure it's at parity with geometry. Below are the tasks from my audit.

Validate tutorials and documentation have coverage of everything in geometry.
- [x] Port tf/Overview to tf2/Overview
  - [x] DataTypes -> [tf2 doxygen](http://docs.ros.org/jade/api/tf2/html/) + http://wiki.ros.org/tf2#Supported_Datatypes + datatype support pac

[2016-03-21 20:49] jackieokay commented on #160
I can help out with this.

[2016-03-21 22:45] alextoind opened #161 "Add `gazebo::math::` to `geometry_msgs::` conversions"
In my project I am dealing with tf2 conversion from `gazebo::math::` to `geometry_msgs::` types. I have already implemented some methods Iike the following:

[code]

If it is a good idea to add these features to the library, I would like to know where should be the correct place to add this code for a pull request. Is there some reason not to do so?

[2016-03-21 23:36] tfoote commented on #161
The tf2 conversion methods are designed to be provided by separate packages, for example `tf2_bullet` and `tf2_kdl`provide the conversions for bullet and kdl.  These functions would work well in a `tf2_gazebo` package probably in the gazebo_ros_pkgs repository. https://github.com/ros-simulation/gazebo_ros_pkgs

[2016-03-31 03:48] tfoote commented on #160
Everything is checked off closing. Thanks for all the help @jacquelinekay @mikaelarguedas

[2016-03-31 03:48] #160 closed, assigned to nobody

[2016-03-31 14:41] onjen opened #166 "Error processing tf2 packages"
Tried to install Jade today, after executing

[code]

I had the following errors:

[code]

Yesterday the download worked fine. Same issue in Indigo.

[2016-03-31 18:09] tfoote commented on #166
Apparently curl does not follow the redirects needed until this is merged: https://github.com/ros/rosdistro/pull/10926

[code]

[2016-03-31 21:16] tfoote commented on #166
I've opened a ticket on vcstools to accept the redirect: https://github.com/vcstools/vcstools/issues/114 in the mean time it should be merged now and not a problem using the new urls.

[2016-03-31 21:16] #166 closed, assigned to nobody

[2016-03-31 21:16] tfoote commented on #166
Please comment back if you're still having trouble and we can reopen.

[2016-04-01 08:45] onjen commented on #166
Download worked fine now, thanks!

[2016-04-05 22:21] gerkey commented on #156
By contrast, `tf2_echo` seems to work fine.

[2016-04-06 00:25] gerkey opened #169 "[ros2] Executables build only for default RMW implementation"
Tools like `tf2_echo` and `static_transform_publisher` are built only for the default RMW implementation. Is that intended, or should we be building for all of them at this point?

[2016-04-06 06:16] tfoote commented on #169
We only want to be building multi-rmw targets to validate cross rmw verification. The assumption is that above rcl, packages should be rmw unaware.

[2016-04-06 11:37] benureau commented on #50
So I checked, and indeed, `tf2_py.cpp` is using the Python 2 C API, which is incompatible with Python 3. From there, there are two choices:
- Making the code compatible with Python 3, for instance by using [py3c](https://py3c.readthedocs.org/en/latest/).
- Rewriting the extension in [cython](http://cython.org/), which would make it easier to understand and maintain, and immediately compatible with

[2016-04-06 14:19] gerkey commented on #169
Makes sense to me.

[2016-04-06 14:19] #169 closed, assigned to nobody

[2016-05-04 14:32] ibadr opened #172 "tf2_msgs: NO_ERROR creates a name clash on Windows with MSVC"
The <tt>TF2Error.msg</tt> file defines on its first line `uint8 NO_ERROR = 0`. The generated C++ code for this message in <tt>include/tf2_msgs/TF2Error.h</tt> includes the following line

[code]

This line causes a name clash on Windows with MSVC and MinGW, since `NO_ERROR` is already defined to be a constant 0. A simple fix would be to conditionally undefine `NO_ERROR` on Windows in the generated

[2016-05-10 20:52] phil0stine opened #174 "TF2 ROS independence"
In the [tf2 design doc](http://wiki.ros.org/tf2/Design), tf2 core is said to be ROS agnostic. It looks like tf2 core still requires ROS to at least be installed on your system to function (`ros/time.h`, `ros/message_forward.h` etc are included in tf2 headrs), am I wrong about this? I realize a fully independent library might duplicate existing code (creating ros::Time and tf::Time, for instance),

[2016-05-10 23:29] tfoote commented on #174
Yes, we reused those datatypes for efficiency, but it does not use any of the ros communication methods.  To strip it out you just need to copy those datatypes.

We've iterated a little bit farther and you can find a new version with only the geometry_msgs/TransformStamped datatype as a dependency, due to it being in the public API. https://github.com/ros/geometry2/tree/ros2_alpha

[2016-05-11 13:50] phil0stine commented on #174
Thanks for the information!

[2016-05-11 13:50] #174 closed, assigned to nobody

[2016-05-11 22:30] macmason opened #175 "cache.cpp introduces an ODR violation (with tf's cache.cpp)"
TF builds a cache.cpp, which defines (among other things) createExtrapolationException1. For some reason, these are defined in the global namespace.

TF2 defines the same functions, again in the global namespace. As TF depends on TF2, this is an ODR violation, so any call into these functions is undefined behavior.

[2016-05-11 22:40] macmason commented on #175
I can fix this by using a "namespace tf2 { ... }" rather than a "using namespace tf2" in cache.cpp. Presumably, we'll fallen afoul of some esoteric C++ name lookup rule.

[2016-05-11 23:00] tfoote commented on #175
Thanks for catching that. I've made it explicit in #176 does that work for you?

[2016-05-11 23:24] macmason commented on #175
Sure does. One nitpick on the change itself.

[2016-05-13 20:27] #175 closed, assigned to nobody

[2016-05-20 18:18] rjingar opened #177 "canTransform fails 9/10 times for color stream 1920x1080@30FPS and depth stream 480x360/640x480 @30FPS"
My nodelet is publishing color stream with 1920x1080:30FPS and depth stream 480x360/640x480:30FPS. It also publishes camera transforms for the streams. I checked transform tf tree in 'frames.pdf' generated using "rosrun tf view_frames" and everything looks good. Here is the screenshot for view_frames result:
![image](https://cloud.githubusercontent.com/assets/12900123/15436976/08f94c26-1e8a-11e6-9

[2016-05-20 18:23] tfoote commented on #177
Can transform of `ros::Time::now()` would be expected to fail most of the time since the data for "now" is likely not available for some duration. Please review the [tf and time tutorials](http://wiki.ros.org/tf/Tutorials/tf%20and%20Time%20%28C%2B%2B%29) and if you have more questions please ask for help on answers.ros.org.

[tf2 version of the tutorial](http://wiki.ros.org/tf2/Tutorials/tf2%20and

[2016-05-20 18:23] #177 closed, assigned to nobody

[2016-05-29 08:10] zhujimson commented on #84
hello,guys, I met this problem yesterday. When I want to run catkin_make command in catkin_ws path, it came out this error"undefined reference to `tf2::BufferCore::_allFramesAsDot() const' ", but it works fine before. And my system is indigo.

[2016-05-29 08:12] zhujimson commented on #84
After I saw  #84 . I still could not get any solution.

[2016-05-29 08:21] tfoote commented on #84
@zhujimson Please ask your question on answers.ros.org and provide the smallest example instructions to reproduce your linking problem in your question. This ticket has been closed for over a year.

[2016-06-01 09:08] g-gemignani opened #178 "High check_frequency values for BufferClient break tf2"
Error:

[code]

How to reproduce it:

[code]

[2016-06-01 17:29] tfoote commented on #178
I can confirm that I saw this error once but cannot reproduce it again.

[code]

On repeated calls I get the expected `LookupException`

[code]

Cranking the rate up to 100000 I was also able to get a double answer:

[code]

@g-gemignani Does it fail every time for you what sort of hardware/network setup are you using? I'm currently testing on loopback.

Note for others reproducing you also need t

[2016-06-02 06:50] g-gemignani commented on #178
@tfoote We always experience this problem on our SCITOS base. We are currently running everything on the base (Intel(R) Core(TM) i7-4770S CPU @ 3.10GHz, 8GB ram). All the traffic is local. I will spend a little bit of time trying to come up with a server that reproduces the error. I'll keep you updated. Thanks! :)

[2016-06-02 07:57] g-gemignani commented on #178
@tfoote As promised, here is the package.
Cheers! :)
[tf2_test.tar.gz](https://github.com/ros/geometry2/files/295107/tf2_test.tar.gz)

[2016-06-09 21:59] tfoote commented on #129
There's also an instance here: https://github.com/ros/geometry2/pull/179#issuecomment-225039103

[code]

Seen less often than the time_backwards

[code]

[2016-06-10 21:06] tfoote commented on #50
Thanks to @de-vri-es I just merged #173 which adds python3 compatibility. From his testing this is fixed. If anyone else has time to test this before I make the next release that would be appreciated.

[2016-06-10 21:06] #50 closed, assigned to nobody

[2016-07-11 07:21] leftys opened #181 "More than one static_transform_publisher doesn't work via rosbag"
I tried to run this on Indigo:

[code]

and then
`rosbag play ...`
wait for a while
`rostopic echo /tf_static`
Only the second tf (base_link -> test2) shows up.

[2016-07-11 07:24] tfoote commented on #181
Related: https://github.com/ros/ros_comm/issues/146

[2016-08-21 15:59] cwecht opened #183 "transform-functions for not-stamped Types in BufferInterface?"
This issue rather is a question of principle than an issue, but let's start from the beginning. At first, I just wanted to extend tf2_geometry_msgs by doTransform-implementations for not-stamped geometry messages such as Vector3, Point and Pose, because I need this in a project and thought, that this might be interesting for others (as mentioned in #116). Implementations for stamped versions alrea

[2016-08-22 17:36] tfoote commented on #183
Adding the doTransform for non-stamped types is ok. It's a lower level interface than was originally designed to be used directly. And is not necessary for the more higher level use case but I don't have a problem with adding more basic datatype support. The doTransform methods are self contained.

However in general I would recommend using native datatypes and their native representations with th

[2016-08-25 12:54] geoffviola opened #184 "ros2 type support implementation introspection_cpp does not match rmw implementation opensplice_static"
In the ros2_alpha branch, a std::runtime error gets thrown, when a publisher gets set. The error is as follows:
terminate called after throwing an instance of 'std::runtime_error'
  what(): could not create a publisher: type support implementation 'introspection_cpp' (0x...) does not match rmw implementation 'opensplice_static' (0x...) at .../src/ros2/rmw_opensplice/rmw_opensplice_cpp/src/rmw_publ

[2016-08-25 13:04] geoffviola commented on #184
This crash may be specific to the static_transform_publisher. It was reproduced on Windows and Linux. It does not crash in alpha 5.

[2016-08-25 19:01] tfoote commented on #166
If others run into this in the future. There's a workaround sed script example at: https://github.com/vcstools/vcstools/issues/114 but the tarball based rosinstalls will not work when a repo gets renamed even with the redirects.

[2016-08-30 18:23] wjwwood commented on #184
I think it might be that the `tf_ros` package is not creating a library for each rmw implementation available. Therefore, tf might be built for one implementation while your program or the program you're running is using another.

There was a similar problem with the examples at some point. See: https://github.com/ros2/examples/pull/92/files

[2016-08-31 21:03] geoffviola commented on #184
Take a look at this gist: https://gist.github.com/geoffviola/77279e5bd582dd2610a1faa16f9d4cd7. I've been trying to make it work, but now I get another exception "Unhandled exception at 0x00007FFF66AC1F28 in static_transform_publisher.exe: Microsoft C++ exception: std::bad_alloc at memory location 0x0000009C012FCEE0." at rclcpp\node.hpp.

I'm testing this on a Windows machine running visual studio

[2016-09-02 17:14] phil0stine opened #185 "Shortest path angle calculation"
The calculation of the shortestAngle represented by a quaternion, defined [here](https://github.com/ros/geometry2/blob/c0f1905bfca22695a387c59ceffdd8c8a99498af/tf2/include/tf2/LinearMath/Quaternion.h#L235) is the opposite of what it should be, right? If the dot product is less than zero, the calculation should be made on -q.w. Currently this happens if the dot is greater than zero.

[2016-09-07 18:40] tfoote commented on #185
This is a fork of the Bullet LinearMath library. https://github.com/bulletphysics/bullet3/blob/master/src/LinearMath/btQuaternion.h#L428-L437

It looks like they were patched here: https://github.com/bulletphysics/bullet3/commit/e80bafdf6639429193ca5601d195c54f7793a416

A PR with the same change would be appreciated.

[2016-09-08 20:34] tfoote commented on #185
fixed in #187

[2016-09-08 20:34] #185 closed, assigned to nobody

[2016-10-04 17:26] Karsten1987 commented on #156
tf2_echo crashes without any message on windows

[2016-10-07 15:28] geoffviola opened #190 "setEuler bad parameter names"
When I use setEuler in https://github.com/ros/geometry2/blob/indigo-devel/tf2/include/tf2/LinearMath/Quaternion.h#L73. It appears to be pitch, roll, yaw and not yaw, pitch, roll.

I'm setting a TF's rotation to this quaternion. The RPY to check against is from the "rosrun tf tf_echo" command. Also, rviz seems to match what tf_echo prints out.

[2016-11-01 01:53] jonbinney commented on #156
Is tf2_monitor only a ros2 thing? I don't see it in tf2_ros in kinetic.

[2016-11-01 05:23] tfoote commented on #156
The tool was not ported during the migration since it's a command line tool and is using tf2 under the hood. Not changing the entry point meant we didn't need to update documentation. We needed it when prototyping for ros2 since we were only porting geometry2. It would probably make sense to migrate it now. If it migrates it should go into tf2_tools.

[2016-12-10 22:38] tfoote opened #194 "check for quaternion normalization before inserting into storage"
If this is not done. Invalid quaternions can cause future queries to return nan values.
lookupTransform of Time(0) queries return the previously set invalid quaternions but not nans.

But time specific queries which use the interpolation give nans due to the interpolation trying to use the quaternions.

I expect that the most common case is all zero quaternions that have not been initialized corre

[2017-01-03 16:10] fryguy1013 commented on #174
It seems this branch changed to https://github.com/ros/geometry2/tree/ros2 for new people coming to this issue.

[2017-01-09 00:08] #194 closed, assigned to nobody

[2017-01-09 18:54] tfoote commented on #190
Can you provide a simple example/unit test showing that these are out of order? This is an internal fork of bullet's linear math: https://github.com/bulletphysics/bullet3/blob/master/src/LinearMath/btQuaternion.h#L120-L139

Note that it's strongly recommended to use bullet's LinearMath library directly and not the internal tf2 version.

[2017-01-10 11:44] ce047 opened #198 "BufferCore::canTransform does not fill error_msg in case frame_ids are not found"
Using `tf2::BufferCore::canTransform` with non-existing frame_ids correctly returns `false` but ignores the given error_msg:

[code]
prints the following:
[code]

[2017-01-11 22:47] tfoote commented on #198
Indeed. It doesn't appear to have any logic for populating the error message in any version of the method at that level.

[2017-01-12 02:28] DLu opened #199 "New Release for indigo et al."
http://answers.ros.org/question/251554/import-tf2statictransformpublisher-in-python/

Please.

[2017-01-12 02:48] tfoote commented on #199
There's a new release coming soon. I just finished triaging PRs in the last week.

[2017-01-20 15:25] AmaurX commented on #21
@tfoote I think there are still some problems with the cpp tf2 tutorials.
waitForTransform doesn't appear to exist, and some part of codes don't add up between tutorials... I've managed to make it work any way, I may go and change it in the tutorials

[2017-01-25 00:12] tfoote commented on #199
0.5.15 should be in the next syncs

[2017-01-25 00:12] #199 closed, assigned to nobody

[2017-02-13 17:41] DLu commented on #199
Did it sync yet? http://repositories.ros.org/status_page/ros_indigo_default.html?q=geometry2&s=2

[2017-03-07 17:03] dhood opened #205 "Adding tutorial for transforming frames"
I am interested in contributing a new tutorial that shows how to use the BufferInterface. Essentially an answer to [this question](http://answers.ros.org/question/95791/tf-transformpoint-equivalent-on-tf2/) but also explaining that in python you need to import, for example, `tf2_geometry_msgs` to avoid the error [mentioned here](http://answers.ros.org/question/95791/tf-transformpoint-equivalent-on

[2017-03-07 22:15] tfoote commented on #205
That would be great to have. Go ahead and add it to: http://wiki.ros.org/tf2/Tutorials I'd be happy to review it afterwards if you ping me.

[2017-03-10 00:20] tfoote opened #206 "expose _allFramesAsDot to avoid duplicating the method"
This would be a private method to allow the tf shell implementation to call through instead of reimplementing it. (as has been done in tf.Transformer in ros/geometry#134

[2017-03-10 01:13] tfoote commented on #206
We should also do _chain _frameExists and _getFrameStrings for good measure.

[2017-03-11 00:37] #206 closed, assigned to tfoote

[2017-03-30 10:42] stwirth opened #219 "Strict type checks (#197) on python interface of Buffer::setTransform make direct input from bagfile cumbersome"
#197 introduced new type checks on the python interface of `Buffer::setTransform` to fix #159.
Unfortunately this makes filling a tf buffer from a bagfile cumbersome, as bagfiles have their own type definitions for messages.
Here is an example program that demonstrates the problem:
[code]
This is the output:
[code]
To work around this you need to manually transform the type `tmpTmLCns._geometry_ms

[2017-03-30 15:47] spaghetti- commented on #219
Good catch, I think that enforcing members `translation` and `rotation` is good enough as well. I'll try to send in a PR this week.

[2017-03-30 16:56] stwirth commented on #219
awesome!

[2017-04-02 19:18] spaghetti- commented on #219
Gave some thought to it, it would seem like we have to ensure that the members `translation` and `rotation` have their own sufficient members as well.

[2017-04-03 09:16] spaghetti- commented on #219
After the above patch is applied, with your test program we have:

[code]

[2017-04-05 08:45] stwirth opened #222 "Include transformations.py in tf2?"
The [tf->tf2 migration page](http://wiki.ros.org/tf2/Migration) says "Since ROS Hydro, tf has been "deprecated" in favor of tf2". tf includes the tremendously useful transformations.py module and we therefore are often including both tf and tf2_ros in our python nodes. To make the transition cleaner, I think including `transformations.py` in tf2 or tf2_ros would be great.

[2017-04-05 19:08] tfoote commented on #222
transformations.py is effectively an external python linear math library. Bundling it into tf2 doesn't really make sense. We've been working hard to strip down dependencies and reduce maintenance of these core tools. For example external linear math libraries bullet, eigen and kdl are no longer core dependencies.

I'd rather an effort to package is separately. it's also evolved into transofrms3d a

[2017-04-05 20:05] stwirth commented on #222
I'd be totally fine with that! Closing this then.

[2017-04-05 20:05] #222 closed, assigned to nobody

[2017-04-09 16:18] victl opened #224 "tf2/convert.h C++ interface is not consistent"
Hi,
I've been using tf2 for some days. One thing I could not understand is why the package `tf2_geometry_msgs` has inconsistent C++ interface.

An example is `toMsg()` and `fromMsg()`. The later returns `void` and values were passed by reference. While the former returns the desired message value directly.

This inconsistency makes me feels `tf2` is far less mature than tf. Should I choose tf2 in

[2017-04-13 07:01] pklip commented on #219
Hi, I also ran into this (not so obvious) problem. It is also hard to work with the Python bindings, because the tf_ros2 documentation (for Python) in virtually nonexistent: http://docs.ros.org/kinetic/api/tf2_ros/html/python/tf2_ros.html
Could someone please point me to where to add documentation as a pull request?

[2017-04-13 11:51] pklip commented on #219
Hi, I also ran into this (not so obvious) problem. It is also hard to work with the Python bindings, because the tf_ros2 documentation (for Python) in virtually nonexistent: http://docs.ros.org/kinetic/api/tf2_ros/html/python/tf2_ros.html
Could someone please point me to where to add documentation as a pull request?

[2017-04-13 21:10] tfoote commented on #219
@ros-pull-request-builder test this please

[2017-04-13 21:11] tfoote commented on #219
@pklip A PR for filling out the documentation would be greatly appreciated. It's source is here: https://github.com/ros/geometry2/tree/indigo-devel/tf2_ros/doc

[2017-04-13 22:45] tfoote commented on #224
Thanks for catching the inconsistency. I've added unit tests that provide coverage and am debugging it in this branch https://github.com/ros/geometry2/tree/pAIgn10-indigo-devel in reviewing and extending #202

[2017-04-13 22:48] tfoote commented on #219
Fixed in #221

[2017-04-13 22:48] #219 closed, assigned to nobody

[2017-04-22 06:28] furushchev commented on #43
Hi, was this already fixed on indigo?
I still have the same problem when executing `rosbag play` with option `--loop --clock`.

[code]

[code]

CC: @tfoote

[2017-04-22 07:01] furushchev commented on #43
I manually compiled entire `geometry2` package from source, and it now clears cache without any problem.
Strange...

[code]

[2017-04-22 18:46] tfoote commented on #43
I don't know of any differences re source vs binary. If you can provide a simple example I can try to reproduce.

[2017-05-02 15:20] vincentrou opened #228 "tf2_urdf"
Could it be interesting to have a package tf2_urdf which can convert [urdf types](https://github.com/ros/urdfdom_headers/tree/master/urdf_model/include/urdf_model) ?

This is linked to this new package : https://github.com/ros-controls/urdf_utilities/pull/1

[2017-05-02 18:33] tfoote commented on #228
That could be an interesting thing to do. I'd suggest that it be housed in a different repository so as not to bring in a urdf dependency into the geometry2 repo.

And I'd suggest it might make sense to go side by side with your new repository urdf_utilities. However I'd suggest the catch all utilities name be dropped for a more specific name with specific scope: http://wiki.ros.org/ROS/Patterns/C

[2017-05-09 07:42] swagner91 opened #233 "do_transform_vector3() alters the passed transformation"
I'm in a situation where i use a transformation to transform several objects pose, velocities and accelerations. The latter two are transformed by do_transform_vector3 as they must not be translated but only rotated. The problem is when looping over the objects, the fist call of do_transform_vector3 sets the translation parameters of the transformation to zero (see `tf2_geometry_msgs/tf2_geometry_

[2017-05-09 18:52] tfoote commented on #233
Yeah, that looks like unintuitive behavior it would be better to make a deep copy first. A PR to do that would be appreciated, otherwise I'll try to find time to do it myself.

For reference the lines of code are at: https://github.com/ros/geometry2/blob/indigo-devel/tf2_geometry_msgs/src/tf2_geometry_msgs/tf2_geometry_msgs.py#L71-L73

[2017-05-10 19:27] #233 closed, assigned to nobody

[2017-06-05 17:25] Sanic opened #236 "Feature Request (Python): Get Parent of a given Frame"
Is there a way to directly get the parent of a frame in a TF2Buffer when using Python?
tf2buffer.all_frames_as_string() provides this data in a human readable form, but i would like access the parent of a given frame name to analyze the hierarchy of the buffered frames.
The data provided by tf2buffer.all_frames_as_yaml() looks promising, but always requires a YAML parse:
[code]
Is it possible to d

[2017-06-05 22:27] tfoote commented on #236
It would be possible to add this feature to the python API but it would actually be just doing exactly what you are doing above as the raw tree is not available in the python implementation, everything passes through to the C++ API. As such I'm not sure how much it's worth hiding that implementation since as you've shown it can be done in 2 lines of code.

And adding a full layer to support passin

[2017-06-06 07:07] Sanic commented on #236
Hi @tfoote
Thanks for your quick reply.
I totally agree that it's not a viable option to pass through the whole datastructure just to realize this use case.
However, from a code duplication point of view i was thinking that it may be reasonable to add a method called all_frames_as_dict to the Python API to avoid calling YAML every time in my caller code. This is a bit of cherry picking, but should

[2017-06-07 00:00] tfoote commented on #236
Yeah, that would be a reasonable extension if you'd like to submit a PR for that.

[2017-06-14 03:40] tfoote opened #239 "Clean up old data from Buffer"
In long running systems with a large number of dynamically created frame_ids the Buffer can significantly grow in memory footprint. When data ages out there should be a mechanism to flush old frames from memory.

Following up #211

[2017-06-16 10:16] furushchev opened #240 "lookup_transform fails only first time"
I'm using TF2 to resolve transformation in my node, but `lookup_transform` always fails first time on each nodes.

I first spawn `tf2_buffer_server` like below:

[code]

Then each nodes use TF2 interface like below:

[code]

Output is here:

[code]

TF itself is published in high frequency

[code]

[2017-06-16 10:19] furushchev commented on #240
I found that if `rospy.sleep(1)` is inserted after instantiation of `tf2_ros.BufferClient`, all transformation can be resolved.
I guess it is necessary to wait enough for advertising goal topic of tf2 actionlib from client to t`tf2_buffer_server`.

[2017-06-16 10:29] #240 closed, assigned to nobody

[2017-06-16 17:47] tfoote commented on #240
There's some setup time to establish connections between the BufferServer and BufferClient that's likely what is causing your first query to timeout. If you send the first request before the topic is setup it will never reach the far end and you'll incur the full timeout waiting.

I'd recommend using waitForServer instead of sleep as it will return as soon as the connection is established instead

[2017-06-17 03:30] furushchev commented on #240
@tfoote Thanks for advice! Now all frames can be solved!

[2017-07-03 20:29] hjjayakrishnan opened #242 "Cmake error"
I just  did a `sudo apt-get remove ros-indigo-tf2*`, and I'm trying to build it from source. This is because I wanted to relax the **TF_DENORMALIZED_QUATERNION** tolerances that were tightened recently by @tfoote . I think the tolerances were relaxed after an issue was raised but the pre-built binaries from sudo apt-get still retains the tightened tolerances.

[code]

[2017-07-03 21:03] hjjayakrishnan commented on #242
Fixed the issue. It was a tf dependency issue. Cloning the tf repository and building fixed it.

[2017-07-03 21:03] #242 closed, assigned to nobody

[2017-07-05 19:27] jwhendy opened #243 "Suggestion to change tf2 tutorial node names"
I'm going through the tutorials for `tf2` and noticed that the node names are different from `tf`. I saved my `turtle_tf2_broadcaster.py` as `turtle_tf2_listener.py` to re-use the imports and was looking for other changes when I spotted the `rospy.init_node()` call and had to double check myself:

[Writing a tf2 broadcaster](http://wiki.ros.org/tf2/Tutorials/Writing%20a%20tf2%20broadcaster%20%28Py

[2017-07-05 20:07] jwhendy opened #244 "More in depth code explanation on tf2 python tutorials"
Could someone gut check my [interpretation of this](http://wiki.ros.org/tf2/Tutorials/Writing%20a%20tf2%20listener%20%28Python%29#The_Code_Explained):

---

[code]

[code]

---

Some thoughts:

- I don't understand "publishing the turtle pose to tf2." What is "tf2" in this case? I thought we were publishing the pose to the `cmd_vel` topic to simulate key presses for the turtlesim and `tf2` is bein

[2017-07-05 20:28] tfoote commented on #243
Homogenizing those would be greatly appreciated! If you could validate that they match the repo too that would be even better: https://github.com/ros/geometry_tutorials/tree/indigo-devel/turtle_tf2/nodes

[2017-07-05 20:37] jwhendy commented on #243
Sounds good. Give me a couple days I can do the wiki edits and PRs for the files you pointed to.

[2017-07-05 20:48] jwhendy commented on #243
Well, why wait when that's more fun that "work"? Here's the current status:

[code]

Per both `tf` and `tf2` tutorials, there are three instances of `my_tf[2]_broadcaster`. Do those need to be changed? Otherwise I'd say this is fixed (changed on wiki too).

[2017-07-05 20:53] tfoote commented on #243
That looks good. The dynamic example could add 'dynamic' into the name for clarity. And the 2 instances inside look like the top one is actually never used, and could be at least commented out, if not removed since it's a duplicate of the fixed tf broadcaster.

[2017-07-05 22:00] jwhendy commented on #243
Rethinking this... any reason not to just use the name of the file, or if the convention is desired, flip the `tf[2]` and `turtle`? At present they go pretty well with `turtle_tf_blah.py` and `init_node('tf_turtle_blah')`.

If there's other wisdom about file names vs. node names, perhaps it could be leveraged here? It wouldn't seem to harm anything to just go more specific/clear vs. not as long as

[2017-07-05 22:07] tfoote commented on #243
Matching the filename seems good to allow unfamiliar users to associate the two. The init names are mostly legacy and since they're not a primary part of the tutorial they likely didn't get touched in refactoring.

[2017-07-05 22:45] jwhendy opened #245 "issue with past extrapolation in time travel tf2 tutorial"
Sigh. I wrote all of the below about [Learning about tf2 and time (Python)](http://wiki.ros.org/tf2/Tutorials/tf2%20and%20time%20%28Python%29) and then it failed with an error after restoring it back to `rospy.Time()`. Huh.

Well, I guess if one leaves the `raise` in the `except():` block, the exceptions get raised as things startup and we wait for `tf2` to kick in (half guessing)?

Could someone

[2017-07-05 23:04] jwhendy commented on #243
Wiki needs another go through since we changed strategies to match the file name, but just submitted the PR.

[2017-07-06 15:55] tfoote commented on #245
Yes, removing the exception is necessary to continue.

[2017-07-06 16:48] jwhendy commented on #245
Wiki edited (feel free to double check/modify).

[2017-07-06 16:48] #245 closed, assigned to nobody

[2017-07-06 16:54] jwhendy opened #246 "Which frames to transform in tf and tf2 time travel tutorials?"
When fixing the [tf2 tutorials](http://wiki.ros.org/tf2/Tutorials/tf2%20and%20time%20%28Python%29) for #245 I also fixed (?) the fact that when illustrating the failure of `rospy.Time.now()` with no timeout, the code is this:

[code]

Later, when showing the addition of a timeout, it changes to this:

[code]
I made them both `carrot1`, but am not sure on the intent. Should these timing tutorials g

[2017-07-06 21:23] jwhendy commented on #243
Wiki is updated with matching node names now.

[2017-07-06 21:23] #243 closed, assigned to nobody

[2017-07-06 21:29] jwhendy commented on #246
Update: I just finished going through #243 changes on the wiki and for the `tf` tutorials. While I was at it, I made the executive call/guess on these changes.

- `tf` tutorials speak of where the *turtles* are, so I made it `turtle2`/`turtle1`
- the last `tf2` tutorial continues to refer to where the *carrot* is, so I made it `carrot1`/`turtle2`.

Re-open if this wasn't okay and I can change to s

[2017-07-06 21:29] #246 closed, assigned to nobody

[2017-07-06 21:40] jwhendy opened #247 "Unify method for learning about tf frames (class or not)"
I just finished going through both the `tf` and `tf2` tutorials and was puzzled by the tutorial on [Adding a frame (Python)](http://wiki.ros.org/tf2/Tutorials/Adding%20a%20frame%20%28Python%29) using `tf2`. The first method for applying a fixed frame is:

[code]

Later, we get this odd kludge of what appears to be the "normal" (non-class) way of doing the fixed frame *and* a way to do a dynamic fr

[2017-07-06 21:54] jwhendy commented on #247
Created a branch for this if it's desirable. The proposal would be that these are the new files for fixed and dynamic frame broadcasting, which would then be put into the wiki as well:

- [fixed_tf2_broadcaster.py](https://github.com/jwhendy/geometry_tutorials/blob/unify-tf2-frame-broadcasters/turtle_tf2/nodes/fixed_tf2_broadcaster.py)
- [dynamic_tf2_broadcaster.py](https://github.com/jwhendy/geom

[2017-07-06 23:19] tfoote commented on #243
@jwhendy Thanks!

[2017-07-07 11:49] kojiterada opened #248 "Cannot change subscriber queue in transform_listener"
Hi.

If tf is operated on computation resources with high load and cheap computing resources, problems due to over queue are occurring.
My suggestion is to be able to set the subscriber's queue.

[2017-07-07 16:23] jwhendy opened #250 "No python API docs appears to exist for tf2_geometry_msgs"
In trying to learn about converting a pose, I stumbled on [this answer](http://answers.ros.org/question/222306/transform-a-pose-to-another-frame-with-tf2-in-python/). Having only used `tf2_ros`, it was a good lead to check out [tf2_geometry_msgs](http://wiki.ros.org/tf2_geometry_msgs).

- Hydro and previous give a page like [this](http://docs.ros.org/hydro/api/tf2_geometry_msgs/html/) (looks like

[2017-07-10 04:05] tfoote commented on #250
That looks like a bug in the documentation generation. I'll have to look into it.

[2017-07-10 04:06] tfoote commented on #248
resolved in #249

[2017-07-10 04:06] #248 closed, assigned to nobody

[2017-07-10 04:08] tfoote commented on #228
I'm going to close this ticket here as it's not something to track in this repository. But I do encourage the creation of tf2_urdf to happen.

[2017-07-10 04:08] #228 closed, assigned to nobody

[2017-07-10 04:13] tfoote commented on #190
Closing due to no follow up. Also if it's strictly reversed it may be an issue of perspective, whether it's the transform to the new frame, or the transform of an object into the target frame.

[2017-07-10 04:13] #190 closed, assigned to nobody

[2017-07-10 05:47] tfoote commented on #172
We're compiling for Windows in the ros2 prototypes and I don't believe that we've run into this issue. Is it enough to do this just in the header? Or are we just luck that it's defined the same in the implementation?

[2017-07-10 05:49] tfoote commented on #161
Since the conversions make more sense in gazebo_ros_pkgs I'm going to close the ticket on this repo.

@j-rivero fyi this could be a good enhancement for gazebo_ros_pkgs

[2017-07-10 05:49] #161 closed, assigned to nobody

[2017-07-10 11:55] j-rivero commented on #161
@alextoind feel free to copy the issue to the gazebo_ros_pkgs repo if you are still interested.

[2017-07-12 08:48] alextoind commented on #161
@j-rivero actually I'm not intereseted in this feature anymore. I think that it is not really useful if nobody but me asked for such behavior. :roll_eyes:

[2017-07-12 18:29] tfoote commented on #129
With #238 the only intermittent test failure remaining is `time_backwards` and that occurrence appears to be only Kinetic and much less frequently.

[2017-07-12 21:55] #117 closed, assigned to tfoote

[2017-07-12 21:55] #198 closed, assigned to nobody

[2017-07-12 22:32] tfoote commented on #172
Looking into this, it's the generated code from the msg. And our usage is properly scoped. There's already a large code base using this so we can't easily switch.

If this is something that continues to be a problem we will have to patch the code generator to do the undef. But for now since this is known to work on Windows in most cases it might make sense to undef this anytime you use a header th

[2017-07-12 22:32] #172 closed, assigned to nobody

[2017-07-13 00:08] tfoote commented on #178
@g-gemignani Thanks for the simple reproducable example.

After a bunch of digging I believe that what's happening is that there's a

I did some debugging into this and I definitely can see the issue. However I haven't yet traced down the source.

My current speculation is that this is actually a race condition inside the simple action client usage. In particular whether the get_result() and get_s

[2017-07-14 18:51] tfoote commented on #224
Sorry I misread this last time I reviewed it.

What i was referring to is the inconsistency is between Vector3 and Point  as well as between Transform and Pose return types specifically. These prototypes are explicitly different because they share the same underlying representation and the limitations of template type deduction based on return type.

The toMsg fromMsg prototypes were designed to b

[2017-07-14 18:51] #224 closed, assigned to nobody

[2017-07-14 20:59] tfoote commented on #183
The basic conversions have been added and can work for the core datatypes in #254

As the Buffer interface needs the extra information to compute the transform explicitly and I think that implementing the doTransform inteface for them has diminishing returns compared to simply encouraging developers to use the native datatype operations. I'm going to close this for now.

[2017-07-14 20:59] #183 closed, assigned to nobody

[2017-07-14 22:08] tfoote commented on #184
ros2 stuff should be tracked in https://github.com/ros2/geometry2 for now. I believe that this has been resolved in the mean time.

[2017-07-14 22:08] #184 closed, assigned to nobody

[2017-07-14 22:11] tfoote commented on #156
I've opened a ticket for tf2_monitor in the ros2 repo: https://github.com/ros2/geometry2/issues/37 closing here.

[2017-07-14 22:11] #156 closed, assigned to nobody

[2017-07-14 22:12] tfoote opened #256 "Create a tf_monitor equivalent in tf2_tools"
It can probably be just a move of the tf version into the new package with that one calling through under the hood.

[2017-07-14 22:36] tfoote commented on #116
#202 adds the primatives for geometry_msgs

[2017-07-15 07:29] tfoote commented on #244
If you'd like to explore some of these questions and put it together into a tutorial or faq that would be great. I might suggest asking some well though out questions and then trying to answer them yourself on http://answers.ros.org others might have other answers too. And people can find them there easily using google at a later date.

The post is published as a transform using the tf messages su

[2017-07-15 07:36] tfoote commented on #247
These examples are quite old and have a lot of history. Some of them even predate the tools.

For the class based vs non-class based. We were using different ways to show different approaches at some point. Some of these examples used to stand as the way to learn how to use ROS APIs in general.

The simplified versions look great. I'll note that the name in the fixed example says dynamic though.

[2017-07-22 22:37] jwhendy commented on #247
Sorry for the delay in getting back to this. Is it beneficial to have the class-based method as it's own tutorial to show this way? Personally (and I keep reiterating that I'm super new), I found it confusing as it wasn't acknowledged that the class based method was anything special. Thus, at first I wondered if that was just some new, de facto way to accomplish the task. Then in the next tutorial

[2017-07-25 10:01] pablo-quilez opened #258 "Bug: memory leak in tf2_ros.Buffer.lookup_transform function"
# Problem description
The memory use increases very fast after each call to the python tf2_ros.Buffer.lookup_transform function leading to several gigabytes in some minutes.
# How to reproduce the error?
1) Start _roscore_ and the following static transform publisher: _rosrun tf static_transform_publisher 1 1 1 0.1 0.1 0.1 /world /ee_link 100_
2) Create a python node containing this slight modifie

[2017-07-25 11:42] pablo-quilez commented on #258
With tf 1 the memory leak doesn't appear, it is working fine:
[code]
Both produce the same transformation:

tf1:

tf2:

[2017-07-25 19:07] tfoote commented on #258
Thanks for the reproducable example. I can confirm that I see this from the debian packages. Running it against the development branch `indigo-devel` it looks to be fixed. I suspect #251 resolved the issue and is in the queued release. Is that the same for you?

[2017-07-26 13:28] pablo-quilez commented on #258
Hello, u are welcome. Thanks to you for your fast answer and nice work! Yes, I think you are right and probably fixing #251 this will be also fix this problem, but to be honest I am not an tf expert. I've installed it through apt-get. In my computer there is a lunar with tf2 whose package.xml says version 0.5.15. Also this problem happened to me with kinetik (not updated for some months).

[2017-07-26 21:01] tfoote commented on #258
The fix is released in 0.5.16 which is in the testing repository for lunar if you want to try that out: http://wiki.ros.org/ShadowRepository That will become available in the main repo after the next lunar sync.

0.5.16 is pending for indigo, jade, and kinetic with the fix I've verified so I'm going to close this for now.

[2017-07-26 21:01] #258 closed, assigned to nobody

[2017-07-27 01:20] tfoote commented on #247
No problem. If you could submit those as PRs that would be great!

[2017-07-31 20:18] jwhendy commented on #250
Following back up on this as I'm now learning `moveit` and may have run into the same thing. The link to the API on [the package page](http://wiki.ros.org/moveit_commander) points to [this page](http://docs.ros.org/lunar/api/moveit_commander/html/) which is just empty.

Even clicking around, the docs aren't very helpful. I wanted to know what `moveit_commander.roscpp_initialize()` did. I *think* [

[2017-07-31 23:08] tfoote commented on #250
For moveit_commander there's no content in the mainpage but the docs are generated The classes are documented including the method you are referring to: http://docs.ros.org/lunar/api/moveit_commander/html/namespacemoveit__commander_1_1roscpp__initializer.html  To get there, click on the classes or namespace headers. Though they don't appear to have doc strings so the generated documentation isn't

[2017-08-03 17:06] jwhendy commented on #250
That's the same link I put above. I guess I was optimistically looking for more of a man page. Like what are `args`, what does this do, etc.? I find in a lot of tutorials the "code walkthrough" is pretty vague and is a tautology. E.g. "Here we call `roscpp_initialize` in order to initialize a robot." I guess that's fine, but seeing `roscpp` in a `rospy` tutorial immediately has me wondering why, i

[2017-08-03 17:21] jwhendy commented on #247
Fixed the node name goof and submitted PR.

[2017-08-08 02:49] randoms opened #259 "tf2_py cannot work with python3"
compile tf2_py with python3 , cannot import tf2_py

[code]

[2017-08-08 05:30] tfoote commented on #259
How did you compile and setup your environment? There have been PRs recently merged that have been tested using python3. Such as #173

[2017-08-08 06:23] randoms commented on #259
I used virtualenv
[code]
python packages were installed in ```my_workspace/devel/lib/python3/dist-packages/```
start a ipython console
By defaullt ```/devel/lib/python3/dist-packages/``` is not in sys.path, so I added it to sys.path.

![image](https://user-images.githubusercontent.com/3120090/29058743-87983b96-7c44-11e7-8d84-48187e075a2f.png)

[2017-08-08 06:30] randoms commented on #259
If I cd to tf2_py install path and import _tf2, I got the following error
[code]
[tf2_py/src/tf2_py.cpp#L635](https://github.com/ros/geometry2/blob/indigo-devel/tf2_py/src/tf2_py.cpp#L635)
defined ```PyInit_tf2```, should that be ```PyInit__tf2```?

[2017-08-08 07:59] randoms commented on #259
I found a way to make it work with python3
[tf2_py/src/tf2_py.cpp#L635](https://github.com/ros/geometry2/blob/indigo-devel/tf2_py/src/tf2_py.cpp#L635)
from
[code]
to
[code]
[tf2_py/src/tf2_py/__init__.py#L37](https://github.com/ros/geometry2/blob/indigo-devel/tf2_py/src/tf2_py/__init__.py#L37)
from
[code]
to
[code]

[2017-08-08 20:30] tfoote commented on #259
Reading through the documentation it does look like the extra underscore is needed: http://python3porting.com/cextensions.html

@de-vri-es @spaghetti- Did you run into this issue?

[2017-08-08 21:10] de-vri-es commented on #259
Indeed, the extra underscore seems to be required. Note that I'm really only compiling code, not running any runtime tests (they won't run for other reasons, although that got fixed recently I think). Shame it doesn't trigger a linker error though.

I don't think the relative import with a dot works in python2 without `from __future__ import absolute_import`.

[2017-08-08 22:35] tfoote commented on #259
@randoms could you open a PR with your fixes plus the future import @de-vri-es mentioned?

[2017-08-09 01:33] randoms commented on #259
OK

[2017-08-09 08:21] #259 closed, assigned to nobody

[2017-08-10 20:31] tfoote opened #261 "Add a way to reduce redundant data upon insertion to the buffer"
This is a refiling of ros/geometry#40 now that the buffer implementation is in this repository.

When new data is received if the most recent 3 data values are identical then the middle value is redundant as it can be reproduced via interpolation. Thus the middle value can be dropped as it's redundant to keep the linked list shorter.

Although in the generic moving frames this is uncommon. There a

[2017-08-24 15:54] vsherrod opened #263 "interpolate function in cache.cpp outputs wrong time"
The interpolate function outputs the timestamp of the first transform instead of the timestamp of the time queried for.

void TimeCache::interpolate(const TransformStorage& one, const TransformStorage& two, TimePoint time, TransformStorage& output)
{
// Check for zero distance case
if( two.stamp_ == one.stamp_ )
{
output = two;
return;
}
//Calculate the ratio
tf2Scalar ratio = double((time - one.s

[2017-08-24 17:42] tfoote commented on #263
Confirmed this is a followup to: https://discourse.ros.org/t/interpolate-function-in-cache-cpp-seems-to-output-wrong-timestamp/2489/4

We should both fix this and add a unit test to provide coverage of this output value.

[2017-08-28 13:53] tspicer01 opened #264 "Build documentation fails due to no sphinx config file"
I was trying to build the documentation for tf2_geometry_msgs and am seeing failures during the build.  The doxygen docs succeeds but the sphinx docs fail due to missing a conf.py file.

Error: Source directory doesn't contain a conf.py file.

Could you please add the sphinx configuration so that it could be built?

Thank you

[2017-09-28 09:25] miguelprada opened #270 "Bad results from _chainAsVector?"
I'm trying to figure out whether I can use `tf2::BufferCore::_chainAsVector` to compute the chain between two frames in a given tree, and I'm having some trouble with it. I have the impression that it does not behave as it should, but I'm not sure I'm using it properly.

Check the very basic test I added in miguelprada/geometry2@ecbf81e2e0a92f6f086607bf1d41aae038e9bbff to see what I'm doing and wh

[2017-09-28 09:47] miguelprada commented on #270
I'm also trying to understand what is output by the underlying `walkToTopParent` in its `frame_chain` argument to no avail...

See my attempts to understand what's going on in miguelprada/geometry2@255db233f6c8dde32343faf8a02b247f25020fb1 (which require the stubs I added in the previous commit). Here, the result for the _i configuration_ is what I expect, but I cannot wrap my head around what the

[2017-09-29 00:48] tfoote commented on #270
This looks like a bug in the deduplication logic in `walkToTopParent` of the forwards and reverse chains. I have a fix locally, but want to write some test for it and remove the debugging code.

[2017-10-05 07:35] miguelprada commented on #270
I'm in no hurry to fix it, so I'll wait to see what you've got, @tfoote.

In any case, it would be very helpful for me if you can help clarify what the output of these two methods should be. My intuition is that `_chainAsVector` should return the list of frames found when traversing the tree from `source_frame` to `target_frame` while passing through `fixed_frame` (a frame supposedly fixed in time

[2017-10-05 09:44] tfoote commented on #270
`walkToTopParent` provides the chain from source to target via the closest shared parent.

`_chainAsVector` provides the chain from source (to fixed if defined) to target. It's basically joining two calls to the above logic at the different times.

[2017-10-06 10:18] miguelprada commented on #270
Have you, or would you be willing to upload your fix to some branch so I can test it and see whether I can use it?

Also, do you think a PR adding a public stub to `walkToTopParent` would be welcome?

[2017-10-16 23:27] tfoote commented on #270
Sorry I was testing some more and my fix was only partial. I haven't had time to fully debug the logic issue.

I would rather not expose the walkToTopParent. That's a pretty low level interface with many interconnected elements and potential race conditions. There could be a higher level interface. Part of the value of the tf API is the abstraction that you don't care about the structure of the st

[2017-10-17 02:34] xudong0401 commented on #174
I can not open the website https://github.com/ros/geometry2/tree/ros2 ,can you update the new website?

[2017-10-17 16:25] mikaelarguedas commented on #174
The branch use for ros2 development has now been moved to a fork under the ros2 organization: https://github.com/ros2/geometry2

[2017-10-20 14:06] mikepurvis opened #271 "Use of deprecated logging functions"
See: https://github.com/ros/console_bridge/blob/master/include/console_bridge/console.h#L68-L90

https://github.com/ros/geometry2/search?q=logWarn

https://github.com/ros/geometry2/search?q=logError

[2017-10-20 18:34] tfoote commented on #271
Like: https://github.com/ros/rosconsole_bridge/pull/14#issuecomment-338286124 We can't fix this until we fork development away from Indigo.

[2017-10-20 18:46] mikaelarguedas commented on #271
I faced the same issue recently on another package. You could work around it if you don't want to branch out just for this change: https://github.com/ros/class_loader/pull/52/files#diff-2777c9ef40eb99c5dbc7f68d8ff4a34f

[2017-10-24 08:44] AlexisTM opened #272 "tf2_ros::TransformListener throws on wrong message"
We are using TF2 and AR Alvar tags. Yet the ar_track_alvar occasionally (almost never, yet it happened) sends out a wrong message with NAN.

[code]

While the message says the transform is ignored, the program actually crashes on a `tf2::InvalidArgumentException` exception. Shouldn't it be caught by the TransformListener?

[2017-10-24 08:47] AlexisTM commented on #272
I guess it should be caught here as `tf2::InvalidArgumentException` inherit from `tf2::TransformException`

https://github.com/ros/geometry2/blob/88abac967f06964a40c94033e8a751cc4c621642/tf2_ros/src/transform_listener.cpp#L115-L128

[2017-10-26 22:27] serge-nikulin commented on #172
This issue happens on my PC when a Windows SDK is installed.

The build issue disappeared when the SDK has been uninstalled.

It's OK to leave this unfixed but then ROS2 can't claim formal Windows compatibility since Windows SDK is essential for Windows GUI development.

[2017-11-07 09:27] NikolasE opened #273 "do_transform_point expects stamped datatypes but ignores header"
Related to this question:
https://answers.ros.org/question/275165/attributeerror-point-object-has-no-attribute-point/

do_transform_point expects a PointStamped and a TransformStamped, but does not use the Header-Information of the Point.

I think the function should also accept a Point (without a Header).

If however a user passes a PointStamped (with a non-empty frame_id), this frame_id should b

[2017-12-03 14:47] jacknlliu commented on #259
Is this version released for ROS kinetic with Ubuntu 16.04? I still get the error with latest version.

I clone this repo, and using `catkin_make` build it,  with python2, everything works! but with **python3** I still get the following error,

[code]

[2017-12-05 10:03] nwaniek opened #274 "tf2_py compilation error with Python 3.5"
The function `static PyObject *_allFramesAsDot` in `tf2_py.cpp` is incompatible with Python 3.5, as it invokes `PyString_FromString`. You can find a (trivial) patch at https://gist.github.com/rochus/aa6d274a349c6aaff692a82fa45af450

[2017-12-05 12:02] miguelprada commented on #270
I ended up solving my use-case differently, so I'm no longer interested in this issue. Do you want me to keep it open nevertheless?

[2017-12-05 21:26] tfoote commented on #270
Yes, I'll keep it open to track the issue and hopefully resolve it.

[2017-12-06 04:47] astoeckel commented on #274
Can confirm, just ran into this issue while compiling ROS on Fedora 27 in a Python 3 venv. The linked patch fixes the problem for me.

[2017-12-07 17:49] Crusty82 opened #275 "Dependecy issues between tf2 and tf2_geometry_msgs"
If you look closely, you can see that

tf2/include/tf2/impl/utils.h includes <tf2_geometry_msgs> and
tf2_geometry_msgs/include/tf2_geometry_msgs/tf2_geometry_msgs.h includes <tf2>

So there is a cycle there.
I am forced to compile these packages via a different build system, and my system dies with a cyclic dependency error.
Also note how tf2 sneakily includes tf2_geometry_msgs without actually re

[2017-12-07 19:43] tfoote commented on #275
This was flagged in #170 There's a proposed fix to call it out specifically but that explicitly triggers the circular dependency in the main build. #170  so can't be merged. The main solution is that we need to move that implementation.

[2017-12-07 19:58] Crusty82 commented on #275
Thanks for replying this quickly Tully, and sorry I missed issue #170. I will locally fix this then by moving functionality from tf2 into tf2_geometry_msgs. Thanks!

[2017-12-07 20:33] tfoote commented on #275
No problem. If you have a clean solution a PR would be appreciated. I think it it's likely that the template specializations in the impl can move to tf2_geometry_msgs and then anyone with that as a dependency could use them the same way they always have.

[2017-12-20 12:56] jacknlliu commented on #259
Could someone reopen this issue? I confirm `tf2_py` still not work with python3.

[2017-12-20 12:58] jacknlliu commented on #274
Did anyone run into the issue https://github.com/ros/geometry2/issues/259 even with this patch?

[2017-12-20 13:22] randoms commented on #259
From your error message, I think you are loading the python 2.7 version of tf2. To use the python 3 version, you have to compile the source code with python 3. And be careful with your sys.path, python 3 library path should before python 2 library path, make sure to load the right version.

[2017-12-20 14:28] jacknlliu commented on #259
@randoms  just using `catkin_make` did not compile with python3?  Doesn't  ros package only have the python2 path?

[2017-12-21 01:29] randoms commented on #259
catkin_make uses system python by default.

![image](http://center.bwbot.org/media/catkin.png)

To use python 3 you need to change your python executable path. As I mentioned in my post before, I used virtualenv. (You may also need to delete your build directory before running catkin_make)

![image](http://center.bwbot.org/media/catkin2.png)

After catkin_make, you can find python 3 libraries in t

[2017-12-21 02:06] jacknlliu commented on #259
@randoms thanks very much for your detailed instruction. I tried it, but I still got the following error.

[code]

[2017-12-21 02:28] randoms commented on #259
You need to be careful with your sys.path, python 3 libraries should come before python 2 libraries.

![image](http://center.bwbot.org/media/catkin4.png)

[2017-12-21 03:03] tfoote commented on #259
@randoms please copy and paste the text output instead of screenshotting. Screenshots cannot be searched nor copied from to reproduce.

[2017-12-21 04:23] jacknlliu commented on #259
@randoms  I can't reproduce your result.

Here I remove the ros python dist-package path from `sys.path`, I got the following error.
[code]

Then I append the ros python package path to the end of `sys.path`, I got
[code]

[2017-12-21 06:26] randoms commented on #259
Let's start from scratch

[code]
Then run python, and import tf
[code]

[2017-12-21 09:49] jacknlliu commented on #259
@randoms  I tried it, but I got
[code]

[2017-12-27 01:10] furushchev opened #277 "Is there tf2 version of tf::messageFilter?"
As far as I briefly look for codes in this repository, there is no functionality for `tf::messagefilter` for tf2.
Is there any reason that there is no such function migrated from tf? Is it just waiting for contribution?

[2017-12-27 07:07] tfoote commented on #277
It's in the tf2_ros package since it's a ROS message filter: See:http://docs.ros.org/lunar/api/tf2_ros/html/c++/classtf2__ros_1_1MessageFilter.html

[2017-12-27 07:19] furushchev commented on #277
Oh, there is, I overlooked... Thank you very much anyway!!

[2017-12-27 07:19] #277 closed, assigned to nobody

[2017-12-29 00:42] tfoote commented on #274
This same logic appears to be exactly the same as the contents of the method `stringToPython` which you're removing: https://github.com/ros/geometry2/blob/indigo-devel/tf2_py/src/python_compat.h#L17-L24 which is designed to specifically to provide this abstraction between python versions.
[code]

I'd like to see that function updated appropriately if there is an issue with it.

[2017-12-29 00:55] tfoote commented on #273
It is designed for a PointStamped. As per the code comment [`# PointStamped`](https://github.com/ros/geometry2/blob/indigo-devel/tf2_geometry_msgs/src/tf2_geometry_msgs/tf2_geometry_msgs.py#L58)

And yes it should be checking `child_frame_id` matches the `header.frame_id` for full safety/correctness.

A second transform function could be defined to apply to non-stamped points. We've recently added

[2017-12-29 01:02] tfoote commented on #272
Can you provide a backtrace of the exception? It appears that the denormalized quaternions are being correctly identified and the setTransform is being skipped inside tf2. The exception message appears to be coming from `tf.h` either [here](https://github.com/ros/geometry/blob/indigo-devel/tf/include/tf/tf.h#L398) or [here](https://github.com/ros/geometry/blob/indigo-devel/tf/include/tf/tf.h#L416)

[2018-01-02 05:28] tfoote commented on #270
@miguelprada This was a little more involved than I thought. I filled out the tests and fixed the implementation in #278

[2018-01-02 05:38] tfoote commented on #273
Note that there's an inprogress PR #262 which addresses this it just needs some basic unit tests to be merged. A PR to add some basic unit tests for that would make it mergeable. I'm going to close this as a duplicate of that.

[2018-01-02 05:38] #273 closed, assigned to nobody

[2018-01-02 05:54] #270 closed, assigned to nobody

[2018-01-02 12:13] AlexisTM commented on #272
The message is sent from a TF broadcaster (ar_track_alvar):

https://github.com/ros-perception/ar_track_alvar/blob/kinetic-devel/ar_track_alvar/nodes/IndividualMarkers.cpp

I did not have the issue for a while. Probably some parts were still using TF and I switched to TF2 completely in between.

I will reopen if it happens again.  Thanks @tfoote

[2018-01-02 12:13] #272 closed, assigned to nobody

[2018-01-19 06:10] tfoote commented on #274
Since the proposed patch appears redundant and with the help of @allenh1, tf2_py is confirmed to be building with python 3.5 https://gist.github.com/allenh1/3e81e2a6fb28b728dc24416826e99af9 I'm going to close this until there's a reproducible issue.

[2018-01-19 06:10] #274 closed, assigned to nobody

[2018-01-19 06:12] tfoote commented on #263
Fixed in #265

[2018-01-19 06:12] #263 closed, assigned to nobody

[2018-01-24 09:05] jacknlliu commented on #259
@tfoote What do you think about this? I test this, but I got different output which indicates the incompatibility.

[2018-01-24 18:36] tfoote commented on #259
@jacknlliu You still have python 2.7 in your path. If that's there you're likely getting the wrong versions of libraries. You need to make sure that all elements are built using only python3. (Note that this means no binary packages from debians.)

[2018-01-25 01:02] jacknlliu commented on #259
@tfoote Thanks very much, I will test it. But why not release python3 package to `/opt/ros/kinetic/lib/python3/dist-packages`, I think this will be easy to use.

[2018-01-25 01:07] tfoote commented on #259
It certainly would be easier to use. For any given package that wouldn't be too much but to do that system wide would require all python dependencies be fully duplicated between python2 and python3 and then both dependencies added, and then full parallel builds for each side of the chain setup. We're looking at doing that in future versions of ROS but in general the overhead for supporting two dua

[2018-02-05 14:06] cwecht opened #281 "tf2_ros/Buffer::canTransform: timout smaller than 10ms are not possible"
Currently, `Buffer::canTransform`'s timeout is implemented by polling with a cycle of 0.01ms. Therefore shorter timeouts than 0.01ms are not possible.

I would like to suggest that, if `time_ou`t < 0.01ms, the polling-cycle should be adapted.

At least, if not changed, this behavior should be documented anywhere...

[2018-02-06 09:08] tfoote commented on #281
Yeah, that is a magic number that should be cleaned up. It might make sense to actually pick the sleep period in relation to the timeout in general, something like 100th of the timeout. The rate of polling needs to be traded off against performance. At the low end it will end up saturating at the minimum sleep period. And at the high end it would cause ~100 calls per timeout consistently.

[2018-02-08 20:31] tfoote commented on #129
I hope that this is now resolved in #283 it passed 3 distros for both the PR builds and Devel jobs. I'll reopen if the `time_backwards` tests start failing again.

[2018-02-14 01:30] #264 closed, assigned to nobody

[2018-02-14 23:43] littlejohnyang opened #285 "How to listen to static transform from robot state publisher using the TransformListener?"
I have set up a robot state publisher with my own robot, and I implemented a listener to obtain the TF message by using TransformListener. I can obtain the /tf information correctly by using the lookupTransform() and allFramesAsString(). However, I can't figure out a way to obtain the /tf_static (as I believe this is a latched topic which doesn't really get published in the same way as /tf. I read

[2018-02-15 01:07] tfoote commented on #285
Please ask questions on http://answers.ros.org according to our support policy: http://wiki.ros.org/Support We try to keep the issue tracker reserved for bugs and feature developments.

When you do ask there, please provide some code examples and console outputs of what you're trying to do and why it's not doing what you expect it to do.  For example please explain why you think the static transfo

[2018-02-15 01:07] #285 closed, assigned to nobody

[2018-02-15 23:37] littlejohnyang commented on #285
I will post on answers.ros.org for answer. However, my question is really on whether it actually works with tf_static? If not, it's definitely a bug. The normal tf_echo seems working but not with the tf2 transform listener.

Also I noticed the subscriber topic inside the TransformListener is hardcoded to "/tf" instead of "tf". Then the ros nodehandle's namespace is not affecting the topic at all.

[2018-02-16 02:40] littlejohnyang commented on #285
I updated my question with example code (but they are just pretty much what is provided in the tutorial page.) I want to see a working example for getting static transform (not just the normal tf).

[2018-02-20 11:07] wasowski commented on #15
Isn't this the same issue as https://github.com/ros/geometry2/issues/9 that has been fixed in PR https://github.com/ros/geometry2/pull/10 ? Shouldn't it be closed to avoid pollution in the issue tracker? :) Or does the problem persist?

[2018-02-21 01:53] tfoote commented on #129
Not resolved. The flaky test was seen in #286 CI

[2018-02-21 02:11] tfoote commented on #15
Thanks I believe that you're right that it's double reported likely before the update had propogated as it's only a week after the issue was closed.

[2018-02-21 02:11] #15 closed, assigned to nobody

[2018-02-21 15:12] lucasw opened #287 "tf2_tools echo"
From https://github.com/ros/geometry/issues/159 @tfoote

Use argparse for the extra options (and keep argv[1] [2] for src and target frames for brevity):

--limit=1 only output n many updates then exit

--changed-values-only only update output when transform is more up to date than the last time it was printed out.

Other possible options that occur to me now:

--buffer length

--offset lookup the

[2018-02-21 21:33] #281 closed, assigned to nobody

[2018-02-21 21:40] tfoote commented on #287
Those are all good options to consider adding. And I think shouldn't be too hard if we switch to a python script for command line parsing.

If we switch to python I'd like to do it for both ros and ros2 and deprecate the cpp version of tf2_echo in ROS2. (We had to create tf2_echo for ros2 since geometry won't be ported over so tf_echo isn't available. But we can replace it still.)

[2018-02-23 16:06] lucasw commented on #287
I'd like to convert the quaternion to euler angles using transformations.py or the transforms3d equivalent, the former would create a tf1 dependency and the latter isn't (yet) in ubuntu or ros deb repositories (#222).  The bare minimum conversion code could be cut and paste into echo.py, or no euler angles for now, or something else?

[2018-02-26 15:21] gbanusi commented on #259
@jacknlliu I had the same problem on **Ubuntu 16.04**, and like @tfoote said you need to "get rid" of the python2 packages.

When you execute catkin_make with **python3** virtual environment you get this at one point:

![first](https://user-images.githubusercontent.com/25098589/36678103-23320a54-1b10-11e8-9eef-180750300511.png)

and you see it is python2.7 -> you need Python3 header files, so exec

[2018-02-26 22:37] tfoote commented on #287
It would be fine to internalize one those conversions from transforms3d for easier user experience. However please make it clearly documented as an internal function. `_` prefix and doc block to say that this is only for internal use and is not a API that can be relied upon.

[2018-02-27 00:20] tfoote commented on #259
@gbanusi It's great you've got it working. Thanks for the followup so others won't hit the same issue. One side note please copy and paste console output instead of screenshotting. That way it's searchable and copyable again (say if I want to grep or run find to help you debug I don't have to retype the text).

@jacknlliu FYI there's a bigger discussion of targeting python version here: https://gi

[2018-02-27 08:14] AlphaJi commented on #271
I face the same problem, and I have to modify buffer_core.cpp to work around this.

[2018-03-16 12:03] barryridge opened #288 "Subscribing to tf topics using the rospy.AnyMsg type prevents transform lookups"
Minimal example using the turtlebot tutorial:
[code]

This results in:
[code]

[2018-03-16 16:58] Kaju-Bubanja commented on #259
@tfoote What exactly is meant by "You need to make sure that all elements are built using only python3."? I found this [page](http://wiki.ros.org/kinetic/Installation/Source), but nowhere do I see an option relating python2 or 3. How would one make sure that all elements are built using only python3?

[2018-03-16 17:27] gbanusi commented on #259
Just make a virtual environment for python3 and activate it as @randoms said,
git clone all the packages (tf2, geometry.... you can find them on ros github) you need to work with in catkin_ws/src (also the ones that are dependent, you know that by the error message),
catkin_make --force-cmake will compile everything with found python3 in your virt. env.,
then everything should work....

[2018-03-16 17:46] tfoote commented on #288
Thanks for the report. It's a little lower level than tf2. I've reticketed it for rospy here: https://github.com/ros/ros_comm/issues/1351

[2018-03-16 17:46] #288 closed, assigned to nobody

[2018-04-19 08:54] pryre commented on #43
No to dig up an old issue, but I think I have an example that may help with this. From what I have found, it may be linked to not using a listener with the buffer. Currently running on Kinetic: `rosversion tf2 - 0.5.17`

My setup involves interfacing with a `tf2_ros::Buffer` manually, using `setTransform(...)` to push data from a pose message into the buffer, and `lookupTransform("...", "...", ros

[2018-04-19 23:27] tfoote commented on #43
Yes that is expected behavior if you're just using a buffer it only expects time to progress forward, the linked commit above is specific to the listener.

The buffer itself does not have any sense of time. When time jumps backwards the data must be cleared. using the `clear()` method like: https://github.com/ros/geometry2/blob/acb62b82726d3368549c6b519dda5d535557506c/tf2_ros/src/transform_listene

[2018-04-22 13:50] Acmece opened #293 "python3 can't import tf"
Refer to [#259](https://github.com/ros/geometry2/issues/259)
Follow by @randoms , I start from scratch
[code]
However:
**1)** It clones from `melodic-devel` and I ran into some build errors:
[code]
(actually, I change to clone `indigo-devel` and it can be successfully built)

**2)** Alough I built `indigo-devel` and set up an python3 virtual environment, I still cannot import tf with python3
[code

[2018-04-23 15:35] mikaelarguedas commented on #293
this looks very similar to https://github.com/ros/geometry2/issues/259#issuecomment-368537754
did you try installing python3-dev ?

[2018-04-24 01:38] Acmece commented on #293
@mikaelarguedas I did have installed python3-dev.
[code]
I don't know how to delet this path `'/opt/ros/indigo/lib/python2.7/dist-packages'`
You know, if I didn't source `/opt/ros/indigo/setup.bash`, I can't use `catkin_make` commond.

[2018-04-24 06:39] tfoote commented on #293
If you're creating a python 3 environment you cannot use the system installed versions of any of the python tools including `catkin_make` you must use a version from inside your workspace. See http://wiki.ros.org/Installation/Source for an example of how to invoke `catkin_make_isolated` with the path to the version inside your workspace.

[2018-04-26 23:16] #293 closed, assigned to nobody

[2018-04-26 23:17] tfoote commented on #293
If you need more help getting this going. Please ask a question on answers.ros.org and make sure to link here as well as describing your question in full.

[2018-06-02 21:37] jwhendy commented on #250
I'm back ~1yr later to confirm this still looks like a big problem. Granted, I'm still noob-ish, but it eats up a lot of my time to try and figure out if migrating code from `tf` to `tf2` should allow me to use something like `tf.TransformListener.transformVector3()`. With literally zero API, and things spread between `tf2`, `tf2_ros`, `tf2_geometry_msgs`, it's surprisingly hard to answer simple q

[2018-06-08 15:56] dirk-thomas opened #299 "invalid test dependency"
The test launch file `test_tf2_bullet.launch` tries to use a test executable from the `test_tf2` (https://github.com/ros/geometry2/blob/6eed82a013fa2f575f12fca92e5fd105518a1441/test_tf2/test/test_tf2_bullet.launch#L2) which is neither depended on nor is that binary being installed. Maybe it is supposed to use the local executable instead (https://github.com/ros/geometry2/blob/6eed82a013fa2f575f12f

[2018-06-18 16:04] whitecoffee commented on #293
I get the same problem as you, have u resolved it yet?

[2018-06-18 23:40] tfoote commented on #293
@whitecoffee you cannot mix python2 and python3. If you need more help please ask a question on answers.ros.org with full instructions how to reproduce your problem.

[2018-06-20 00:11] #299 closed, assigned to nobody

[2018-06-27 13:12] jurapura opened #303 "transformMsgToTF2() and transformTF2ToMsg() declarations missing in buffer_core.h"
Functions transformMsgToTF2() and transformTF2ToMsg() defined in buffer_core.cpp are not declared in buffer_core.h header. Therefore, even when the buffer_core.h is included, the functions cannot be found.
Is there any specific reason why the declarations are missing in the header?

To solve that issue I declared the functions in my library by adding:
[code]

This solution works. However, I believ

[2018-06-27 21:46] tfoote commented on #303
Those methods are not in the public API which is why they're only in the implementation.
You can use the tf2::convert API described http://wiki.ros.org/tf2/Tutorials/Migration/DataConversions
With the implmentation in tf2_geometry_msgs. http://wiki.ros.org/tf2_geometry_msgs

[2018-06-27 21:46] #303 closed, assigned to nobody

[2018-06-29 15:25] mgrrx opened #304 "transforming PoseStamped in Python eats RAM"
We noticed that doing many transformations of a PoseStamped in Python eats up RAM. Minimum working example:

    import genpy
    import tf2_ros
    import tf2_geometry_msgs
    import geometry_msgs.msg

    def main():
        p = geometry_msgs.msg.PoseStamped()
        p.header.frame_id = 'map'

        t = geometry_msgs.msg.TransformStamped()
        t.header.frame_id = 'map'
        t.child_fr

[2018-06-29 22:31] tfoote commented on #304
Thanks for the simple script to reproduce the issue. I can confirm that I see the memory growth from running this script.

[2018-07-03 00:38] #304 closed, assigned to nobody

[2018-07-05 10:49] gavanderhoorn opened #306 "vcstools tar extraction fails for old releases (because repository was renamed?)"
Not something directly actionable I believe, but figured I'd report it anyway.

See robust-rosin/robust#63 where we ran into this while investigating a bug in a different repository that needed a checkout of an old Indigo release (`0.5.5`). Repository was called `geometry_experimental` at that time and `rosinstall_generator` appears to prefix that name to the `version` tag of the `.rosinstall` fil

[2018-07-06 00:41] tfoote commented on #306
The tarballs are dynamically generated by github using when you fetch them based on the tags.

Unfortunately I think that this is an unfortunate side effect of github putting the repository name into the tarball filename inside. Which causes the tarball of a tag to change contents if the repo is moved.

![image](https://user-images.githubusercontent.com/447804/42354228-540e46ae-807a-11e8-9c6f-5ff6

[2018-07-06 14:29] gavanderhoorn commented on #306
Ah, I wasn't aware of that.

yes, that is what's happening. But the 'problem' only surfaces because `vcstools` is actually checking the contents of the tarball.

that's what we're doing right now.

[2018-07-06 18:12] tfoote commented on #306
It's been designed to select a subdirectory and give it a specific name from the tarball. There's potentially an improvement that could be made in vcstool to support some sort of regex or other logic to be more robust. I'm going to close this here as there's nothing actionable here, but it might be worth a discussion on vcstools.

[2018-07-06 18:12] #306 closed, assigned to nobody

[2018-07-11 09:24] bluenote10 opened #310 "Bug: Occasional NaN transforms"
We noticed that the transforms return from tf/tf2 occasionally contain `NaN` values in the translation part. Some debugging revealed that this is caused by the interpolation logic of the time cache. The bug is hidden here:

https://github.com/ros/geometry2/blob/0761810d5bb3ffc4b6f2c832fa335f292dcce6ce/tf2/src/cache.cpp#L178-L185

The equality check compares the timestamps based on sec/nsec integer

[2018-07-12 14:14] vik748 opened #312 "The python code API page is blank"
From the wiki when you click on API and try to look at the Python API, it goes to a page without any information.  http://docs.ros.org/lunar/api/tf2_geometry_msgs/html/python/

[2018-07-12 20:53] tfoote commented on #312
Thanks, we're tracking this in #250

[2018-07-12 20:53] #312 closed, assigned to nobody

[2018-07-24 23:35] #310 closed, assigned to nobody

[2018-08-14 07:27] csukuangfj opened #315 "default duration in TimeCache"
https://github.com/ros/geometry2/blob/7ea64d25a0631fe91bd277e0d9195f18cc437151/tf2/include/tf2/time_cache.h#L99-L101
The comment `default value of 10 seconds storage ` says it saves a duration of 10 seconds, but
the value `1ULL * 1000000000LL` is 1 second, i.e., there are only 9 zeros, not 10 zeros.

[2018-08-14 08:00] csukuangfj opened #316 "unused variables"
https://github.com/ros/geometry2/blob/7ea64d25a0631fe91bd277e0d9195f18cc437151/tf2/include/tf2/time_cache.h#L97-L98
The above two variables are never used.

[2018-08-14 08:13] csukuangfj opened #318 "TimeCacheInterface has no virtual destructor"
See the code
https://github.com/ros/geometry2/blob/7ea64d25a0631fe91bd277e0d9195f18cc437151/tf2/include/tf2/time_cache.h#L56
https://github.com/ros/geometry2/blob/7ea64d25a0631fe91bd277e0d9195f18cc437151/tf2/include/tf2/time_cache.h#L88
https://github.com/ros/geometry2/blob/7ea64d25a0631fe91bd277e0d9195f18cc437151/tf2/include/tf2/time_cache.h#L94
https://github.com/ros/geometry2/blob/7ea64d25a0631

[2018-08-23 08:33] loulansuiye opened #323 "when I call ros::init(argc,argv,"test")；the app report problem as the following."
terminate called after throwing an instance of 'ros::TimeNotInitializedException'
  what():  Cannot use ros::Time::now() before the first NodeHandle has been created or ros::start() has been called.  If this is a standalone app or test that just uses ros::Time and does not communicate over ROS, you may also call ros::Time::init()

[2018-08-24 18:05] tfoote commented on #323
@loulansuiye As mentioned here: https://github.com/ros/geometry/issues/30#issuecomment-415836793 and please ask for help on answers.ros.org following our support guidelines: http://wiki.ros.org/Support note that there is not enough information in this to reproduce your problem so we won't be able to help you much. And multiply posting your issue is considered bad etiquette.

[2018-08-24 18:05] #323 closed, assigned to nobody

[2018-08-30 15:50] peci1 commented on #181
What about running https://github.com/tradr-project/static_transform_mux during the recording? That would "ensure" that the last published `/tf_static` message would contain all the transforms needed for replay. Moreover, you could even add more static transforms during the replay, if you launch the mux also during replay.

[2018-08-31 19:44] ghost commented on #32
Just wondering if there has been any update or workaround for this? I am dealing with a multi-robot simulation that implements moveit, and I came across this [issue](https://github.com/ros-planning/moveit/issues/950) on moveit's repository which is caused by the deprecation of tf_prefix.

[2018-09-06 17:34] christian-rauch opened #324 "translation should be of type Quaternion"
I get the confusing (but funny) error message: `translation should be of type Quaternion`.

This comes from a copy&paste error in `checkRotationType`:
https://github.com/ros/geometry2/blob/b516a8a470fad31f92884ea1c69f7f8db2713f0d/tf2_py/src/tf2_py.cpp#L408-L420
which should report `rotation should be of type Quaternion`, I assume.

[2018-09-08 04:37] tfoote commented on #324
Thanks yes, that's a copy and paste error PR in #325

[2018-09-10 17:48] #324 closed, assigned to nobody

[2018-09-14 19:05] svwilliams opened #327 "tf2_ros::MessageFilter non-zero time tolerance conflicts with multiple target frames"
When using the the tf2_ros::MessageFilter it is possible to request that multiple target frames be transformable using `setTargetFrames()`. It is also possible to request that transforms be available at the message timestamp plus a time tolerance using `setTolerance(). However there is currently a bug in the implementation when using both features together.

The transform at the message stamp is c

[2018-09-17 20:29] #327 closed, assigned to nobody

[2018-09-18 08:46] johuber opened #330 "Faulty doTransform for geometry_msgs::Vector3"
The code for transforming a vector does not apply the translation but only rotation.
[code]
The line performing the transformation must be changed to:
[code]
Like this it will use the overloaded operator* of transform and properly transform the vector.

[2018-09-18 08:57] johuber commented on #330
I just found out it seems to be intended like this, according to issue #124
It is fairly misleading though and could also be mentioned in the function description.

[2018-09-18 08:57] #330 closed, assigned to nobody

[2018-09-20 01:24] tfoote commented on #330
This is intentional Vector and Points have different semantic meanings, that's why they have different classes. This difference is the primary one, they have magnitude and direction but are always from the origin.

[2018-09-27 23:12] matthew-reynolds opened #332 "tf2_ros - Realtime-safe TransformBroadcaster"
tf2_ros's `TransformBroadcaster::sendTransform` uses standard `ros::Publisher`s to publish transformations. This is fine when using tools like [robot_state_publisher](https://github.com/ros/robot_state_publisher), which spin up independant nodes to handle publishing transformations, but it makes it difficult to safely publish a transformation tree from within your main robot HW node (eg. RobotHW i

[2018-09-28 13:35] jorgenfb commented on #178
We are also experiencing this issue. Is it possible to work around this race condition in the buffer client by adding a check inside the [__is_done()](https://github.com/ros/geometry2/blob/indigo-devel/tf2_ros/src/tf2_ros/buffer_client.py#L165-L170) function? Require a result if the state is SUCCEEDED?

[code]

[2018-10-03 01:14] tfoote commented on #332
I'd rather not add realtime_tools as a dependency of the core of tf2, because most users won't want to use it. Due to the simplicity of the transform broadcaster (implementation less than 20 lines of code.  I'd suggest making a duplicate class for the realtime implementation that could be added to the realtime_tools package which is where people doing realtime things would be looking for something

[2018-10-03 01:23] tfoote commented on #178
@jorgenfb Could you propose the change in a PR for review?

[2018-10-03 17:07] matthew-reynolds commented on #332
Makes a lot of sense, thanks! I'll move the request over to realtime_tools.

[2018-10-03 17:07] #332 closed, assigned to nobody

[2018-10-05 10:36] jorgenfb commented on #178
PR is ready. Any chance this can be backported to kinetic?

[2018-10-09 09:17] rvipin17 opened #334 "Error in tf2_geometry_msgs.h"
`In file included from /home/addverb/catkin_ws/src/navigation/costmap_2d/src/observation_buffer.cpp:39:0:
/home/addverb/catkin_ws/src/geometry2/tf2_geometry_msgs/include/tf2_geometry_msgs/tf2_geometry_msgs.h:1009:55: error: ‘array’ is not a member of ‘std’
 geometry_msgs::WrenchStamped toMsg(const tf2::Stamped<std::array<tf2::Vector3,
                                                       ^
/home/

[2018-10-11 01:02] tfoote commented on #178
This doesn't break ABI or API so it should be good to consider for backport. I'll plan to include it next time I do a backport sweep.

I'm going to close this. @g-gemignani if you could verify the patch resolves your issue that would be great. If not please comment back here and we can reopen this.

[2018-10-11 02:12] tfoote commented on #334
Please clarify how to reproduce your workspace including what system you're running on, what packages you have installed from binaries, and where you got them from and what source checkouts you have in your workspace including the branch.

[2018-10-19 21:24] tfoote commented on #315
Fixed in #317

[2018-10-19 21:24] #315 closed, assigned to nobody

[2018-10-21 10:44] g-gemignani commented on #178
Hello @tfoote, hello @jorgenfb. I apologize for the late reply. I went on, checked out the pr and reran my test with and without the patch. Without the patch the output given by the node is:

[/tf_breaker ERROR 1540117569.839715]: tf lookup number 0 failed!
[/tf_breaker ERROR 1540117569.840086]: Lookup would require extrapolation into the past.  Requested time 1540117566.835526943 but the earliest

[2018-10-22 07:36] tfoote commented on #178
@g-gemignani thanks for the updated testing. I'll reopen this to track the remaining issue.

[2018-10-22 10:51] jorgenfb commented on #178
I did some further digging. The issue is with the action client, not with BufferClient (state is available before result). I created a simplified case without using bufferclient, which I will post along with an issue in actionlib when I have cleaned it up.

However during my testing I found two solutions that can be used for BufferClient. SimpleActionClient does have a `.wait_for_result()` method

[2018-10-22 17:44] tfoote commented on #178
It would be great to move to the actionlib API but you're right that it doesn't support the adjustable timeout. Making that a parameter in the actionlib API would be a great enhancement ticket/PR. In the mean time we should copy the logic internal to that method. https://github.com/ros/actionlib/blob/d317e63ebabc6c437f8b9f73ece06acf348700ea/src/actionlib/simple_action_client.py#L124

Actually on l

[2018-10-23 10:45] jorgenfb commented on #178
Using `wait_for_result()` does indeed look like the best solution. How is the process of doing such a change that would effect the public API (check_frequency parameter is no longer in use)? I'm guessing it's no longer just a bug fix.

I would be happy to provide the actual code changes if you like, but then would need assistance on handling the deprecation.

[2018-10-23 22:57] tfoote commented on #178
I would suggest making two changes. The first will simply switch over to using the `wait_for_result()` and a second would update the constructor to make the default check_frequency `None` and if the check_frequency is set to anything then print a warning that the that argument is deprecated in and should not be used, and then ignore it. This will give a visible but not spammy warning but not break

[2018-10-27 19:12] jorgenfb commented on #178
I have created a pull request for the suggested changes and opened an issue for the original cause of this issue in actionlib repo, including a reproducable test case.

[2018-10-28 06:41] weiyuhe opened #338 "errors in tf2_tool view_frames.py"
Whenever I tried to run view_frames.py. I got this:

[INFO] [1540708524.139129]: Listening to tf data during 5 seconds...
Traceback (most recent call last):
  File "/opt/ros/kinetic/lib/tf2_tools/view_frames.py", line 81, in <module>
    main()
  File "/opt/ros/kinetic/lib/tf2_tools/view_frames.py", line 44, in main
    buffer = tf2_ros.Buffer()
AttributeError: 'module' object has no attribute 'Bu

[2018-10-29 00:06] tfoote commented on #338
Please don't multiply post questions: https://answers.ros.org/question/306904/tf2-error-attributeerror-module-object-has-no-attribute-buffer/ following our support guildelines. https://wiki.ros.org/Support

[2018-10-29 00:06] #338 closed, assigned to nobody

[2018-10-29 06:49] tfoote commented on #178
@jorgenfb Thanks for digging in and the follow up. As #337 has been merged I'm going to close this.

[2018-10-29 06:49] #178 closed, assigned to nobody

[2018-11-02 15:14] Master-Matt commented on #334
I just got this error too. I was trying to use navigation from source, but then it required me to use tf2_sensor_msgs from source. I cloned the indigo-devel branch for working on kinetic. I had both of these binary installed before. Do you need to remove them before installing these from source?
I'm wondering if it's a compiler version issue, because in C11 array is part of std, but the errors say

[2018-11-02 18:49] tfoote commented on #334
Yes if you change the target platforms for different branches you may need to update compiler flags. In particular Indigo expects C++03 while Kinetic expects C++11 as the minimum requirement. See REP 3 for more details: http://www.ros.org/reps/rep-0003.html#indigo-igloo-may-2014

Since there's no reply from the original poster and a reproduction of the issue has found a workaround, I'm going to cl

[2018-11-02 18:49] #334 closed, assigned to nobody

[2018-11-05 18:48] trainman419 commented on #275
I just ran into this too, and I also solved it by moving the functions that manipulate geometry_msgs types into tf2_geometry_msgs.

I can submit my changes as a PR if you'd like, but it's an API change and since I'm only testing against a small part of ROS and I'm not using cmake to build ROS, so I can't confirm that this fix is valid for the rest of the ROS ecosystem.

[2018-11-06 17:22] moucrob commented on #185
Hi, given a frame1 which is the rotation by a quaternion q1 from a frame0, and a frame2 which is another rotation of frame0 by q2, what is the **shortest {angle**, axis} that leads frame1 to become frame2 ?

I would use :
[code]
from https://github.com/ros/geometry2/blob/melodic-devel/tf2/include/tf2/LinearMath/Quaternion.h line 218 but I tried some simple scenarios in a matlab script which is :
*

[2018-11-08 19:35] tfoote commented on #275
@trainman419 If you have the moved implementation could you add a backwards compatible API placeholder that forwards to the new location and gives a deprecation warning? That deprecated API will still cause the dependency issue, but we can remove it in a future rosdistro and we can put a very specific warning that hopefully people will find the workaround quickly if they run into it.

[2018-11-09 08:42] mintar commented on #275
:+1:

That rosdistro better be Noetic, since it's the last one! :)

[2018-11-10 20:28] dellaert opened #340 "missing python API docs"
Was looking for the python API of tf2_ros, and while the source has many nice comments (Thanks!) they don't seem to have made it to http://docs.ros.org/latest/api/tf2_ros/html/python/tf2_ros.html

[2018-11-12 20:06] tfoote commented on #340
This is likely related to #250

[2018-11-13 19:54] redstorm45 opened #341 "Multiple TF publishers can clear TF buffer in rospy kinetic"
I recently had a problem with TFs clearing with a message similar to "Detected jump back in time of 0.000130s. Clearing TF buffer.", wich caused all of the nodes relying on TF information to break.
Looking at the code, it seems this pull request https://github.com/ros/geometry2/pull/329 was a fault, with the backport in https://github.com/ros/geometry2/pull/336 to Kinetic.

To confirm the issue, I

[2018-11-14 05:59] tfoote commented on #341
Thanks for the instructions how to reproduce it and debugging into it. The resolution with a lock protecting the now check does suggest there's a race condition. I'm surprised that it's being hit here, but definitely if there's two in flight and it context switches in the middle of this method to another instance it could trigger the reset inappropriately.

[2018-11-14 12:40] kaixin-bai opened #342 "No package 'bullet' found"
ubuntu16.04
ROS-Kinetic
branch: indigo-devel

wenn catkin_make, i got the Error below.

-- +++ processing catkin package: 'tf2_bullet'
-- ==> add_subdirectory(geometry2/tf2_bullet)
-- Found PkgConfig: /usr/bin/pkg-config (found version "0.29.1")
-- Checking for module 'bullet'
--   No package 'bullet' found
CMake Error at /usr/share/cmake-3.5/Modules/FindPkgConfig.cmake:367 (message):
  A required

[2018-11-14 12:46] #342 closed, assigned to nobody

[2018-11-15 13:23] brinij commented on #341
I have the same bug in Indigo...

[2018-11-16 00:36] Achllle commented on #341
It looks like apt-get only holds the most recent and broken version of tf2. Is there any way to fix this without installing from source?

[2018-11-16 22:48] tfoote commented on #341
This effects all versions. There's no older version to roll back to in the binaries. I'll roll a new release shortly. PRs are in for both active development branches. #344 and backport to #345

I believe that the lock is the right thing to do. It's necessary for the check and set. I looked at refactoring the clear call to be outside the lock since it will take more time, but it doesn't really make

[2018-11-16 23:20] #341 closed, assigned to nobody

[2018-11-27 21:06] zzv2 opened #347 "Jump back in time warning"
After upgrading to the newest release `0.5.19` for ROS `kinetic` this warning keeps printing:
`Detected jump back in time of 0.000085s. Clearing TF buffer.`

This is not a clock synchronization issue as I have updated the clocks using chrony. The warning also only started to appear immediately after I upgraded the `tf` package.

I think it might have something to do with this new commit:
https://g

[2018-11-27 21:42] zzv2 commented on #347
This seems to be related to https://github.com/ros/geometry2/issues/341

[2018-11-28 22:23] tfoote commented on #347
This issue was resolved in #344 released in in 0.5.20 which is available on all platforms.

[2018-11-28 22:23] #347 closed, assigned to nobody

[2018-11-29 19:58] zzv2 commented on #347
@tfoote It works now, thanks!

[2018-12-06 12:59] aPonza opened #349 "Unable to locate package ros-kinetic-tf2-tools"
In [Introduction to tf2](http://wiki.ros.org/tf2/Tutorials/Introduction%20to%20tf2) users have to install `ros-$ROS_DISTRO-tf2-tools` which however doesn't exist (EDIT: for $ROS_DISTRO == kinetic). This addition comes from [this answer](https://answers.ros.org/question/263285/rosrun-tf2_tools-not-found/) most likely.

I can instead find the package `tf2-tools - Robot OS tool for tf2 transform libr

[2018-12-06 13:06] aPonza commented on #349
That is not the case, as after installing also said `tf2-tools` package, once at the appropriate point in the tutorial, I get
[code]

[2018-12-06 13:32] aPonza commented on #349
I afterwards saw there's no kinetic-devel branch, I figured that might be the reason for the missing package.

Regardless I downloaded the folder (from melodic-devel) and everything seems to work.

If everything is as intended this can be closed.

[2018-12-06 20:23] tfoote commented on #349
You can manually install `ros-kinetic-tf2-tools` from apt. The referenced tutorial is missing it as a dependency that will automatically install it.

Note that although the melodic-devel branch generally is compatible, the kinetic development branch is still indigo-devel as can be seen in the rosdistro or here: https://wiki.ros.org/tf2_tools?distro=kinetic

[2018-12-06 20:23] #349 closed, assigned to nobody

[2018-12-07 21:14] cosama opened #350 "No way of distinguishing extrapolation to the future from extrapolation to the past"
I have an application, where I might have some initial lookups that would require extrapolation to the past. These lookups could just be ignored and the program should move on to the next value to look up. However, subsequent lookups should wait until the transform is available (if an extrapolation to the future would be required).

I don't really see a way of achieving such a behavior in `python`

[2018-12-08 00:46] tfoote commented on #350
The ExtrapolationException could be extended to have subclasses for future or past. Though we need to be careful as sometimes data is inconsistent and some transform data could be in the future and some in the past if the transform requested spans multiple links. So there would probalby need to be a third type.

As an intermediate workaround you could use `_getLatestCommonTime` and compare your qu

[2018-12-08 01:10] cosama commented on #350
`getLatestCommonTime` was exactly what I was looking for. I literally spend hours digging through the code and didn't see that one. Thanks for pointing that out.

I used the `return_debug_tuble=True` flag and filtered the error message. That seemed to work too, but as I said probably not optimal either.

[2018-12-13 16:13] dtecta commented on #185
Although my name is mentioned in the source code, I am not the author of the source code. I see that the code may be derived from my quaternion code either in Blender or SOLID3, but I don't know the details of this code.

What I do see is that the expression "tf2Acos(dot(q) / s) * tf2Scalar(2.0)"  makes sense if "dot(q)" is regarded to be the scalar part of q1 * conjugate(q2). Thus, the scalar par

[2018-12-15 11:20] jspricke commented on #275
We got bugged by this in Debian as well: https://bugs.debian.org/916479.
@trainman419 do you plan to send the PR soon?

[2018-12-18 10:58] marco-tranzatto opened #351 "Including not existing directory "src/bt" in tf2"
Hi all,

I think [this line](https://github.com/ros/geometry2/blob/melodic-devel/tf2/CMakeLists.txt#L14) of tf2/CMakelists.txt is including a non existing directory ("src/bt").
If you agree with this, I'm happy to open a PR.

Regards,
Marco.

[2018-12-19 00:33] tfoote commented on #351
Indeed that's legacy. A PR to clean it up would be appreciated.

[2018-12-23 14:32] lucasw commented on #287
It is possible to `pip install transforms3d` https://pypi.org/project/transforms3d/,  it would be nice to get rid of the borrowed code and use transforms3d proper instead.

[2019-01-02 20:30] tfoote commented on #287
To use that as a dependency it would be necessary to package it for all native package managers on major supported platforms. (aka debian packages on debian ubuntu, rpms on fedora etc) A pip package cannot be a core dependency.

[2019-01-08 20:19] #351 closed, assigned to nobody

[2019-01-15 19:07] trainman419 commented on #275
Looks like my changes didn't end up being necessary for our project, and didn't make it into our repository. I will not be submitting a PR for these changes (I don't have any way to test the changes requested by @tfoote , either).

[2019-01-19 20:38] 130s commented on #247
https://github.com/ros/geometry_tutorials/pull/27 is merged already so this one should be closed?

[2019-01-19 23:56] jwhendy commented on #247
Been so long I have no idea :) I'm fine with that and see it's been merged.

[2019-01-19 23:56] #247 closed, assigned to nobody

[2019-01-24 21:22] christian-rauch opened #356 "Unlimited buffer caching time"
I am using a `tf2_ros.Buffer` to collect transformations via `set_transform` to later synchronize the export of messages into other formats (images, csv, ...).
By default, the Buffer has a cache time of 10 seconds. For scenarios where the Buffer is used in an offline application, it would be useful to have an option to cache all transformations in the buffer.

The current workaround would be to ju

[2019-01-25 01:11] tfoote commented on #356
Unlimited caching in itself is moderately dangerous for memory usage. I agree that a flag like that would be clearer when using the API. Adding the extra complexity to the system isn't very attractive when you could just pass an argument that is larger than any possible runtime for the system. I don't think that we have a Duration::Max implementation but if you passed in something like as a consta

[2019-01-25 11:48] christian-rauch commented on #356
Caching transforms indefinitely is of course dangerous. But for an offline use case, where a user decides to cache all (finite amount of) transforms from a source (e.g. bagfile), an option to explicitly tell the buffer to cache everything would improve the code quality.

At the moment, I am defining the buffer like
[code]
i.e. with the largest possible time value. However, this is not straight for

[2019-02-11 17:05] peci1 opened #358 "tf2_eigen: Should Eigen::Affine3d be converted to tf2::Transform?"
Affine transforms are a superset of ROS transforms (which are isometries). So should there really be the conversion function from Affine3d to Transform? Shouldn't the user be required to convert the Affine3d to Isometry3d in Eigen first (doing all the needed checks)? Or should the tf2 conversion function issue a warning/error when the given affine transform is not an isometry?

[2019-02-14 18:45] tfoote commented on #358
It would probably be good to deprecate that part of the API. It makes more sense since it's not an isomorphic conversion.  When first written the Affine3d was the only transform available and Isometry3d was added later and support added here recently (#335). Though we will want to target that for the next distro to not break people in the current distro.

[2019-02-15 08:49] peci1 commented on #358
Do you think a build time deprecation/warning or rather a runtime warning would be suitable?

It might be nice to actually check if the given transform is an isometry or not, and issue a runtime warning when it isn't, but I can imagine that could have impact on performance. And in most cases the transform will be an isometry (because it probably comes from a tf transform).

[2019-02-15 18:24] tfoote commented on #358
A build time deprecation warning is appropriate. This can only be fixed by changing code. Spamming the user will just be annoying.

[2019-02-18 13:51] Tuebel opened #359 "Unused parameters in message_filter.h"
When compiling my node which depends on the tf2_ros message filter I get the following warning.

[code]

As the message_fitler works as expected I assume that the parameters of the function can be deleted to avoid the warning.

[2019-02-20 08:12] tfoote commented on #359
Yes, the extra parameters are unused at the moment. I believe that they are there in case the information could be used to optimize the algorithm to only query transformability for frames related to the changed frames instead of checking all. However checking all was made more efficient and the usefulness of those arguments is lower.

[2019-02-20 10:04] MichaelGrupp commented on #340
@tfoote `autodoc` fails to do imports on the buildfarm. E.g. here: http://build.ros.org/job/Mdoc__geometry2__ubuntu_bionic_amd64/28/console#console-section-3

[code]

Maybe the import path needs to be set here?
https://github.com/ros/geometry2/blob/cd55e4506529723b3b0f30abd2b54d9beb284e3e/tf2_ros/doc/conf.py#L16-L19

I get a full documentation when I build locally on my PC with `rosdoc_lite tf2_ro

[2019-02-20 21:44] tfoote commented on #340
Thanks @MichaelGrupp  for looking into this.

Looking closer at the import error it's failing on importing _tf2 which is the library wrapped c++ code. Which is not built in the rosdoc builds.

[code]

It probably works locally because the package has already been built and consequently python can import the library.

I suspect switching away from the autoexception and autoclass might resolve this.

[2019-02-21 15:49] Tuebel commented on #359
Thanks for your answer.
So I do understand it right, that they could be removed but remain in the code for API stability?

[2019-02-26 07:54] tfoote commented on #359
Correct

[2019-03-04 16:00] #359 closed, assigned to nobody

[2019-03-04 17:09] peci1 opened #370 "Add possibility to delete static TF frame."
With tf2, there's no possibility to remove already published static TF frames. I think it'd make sense to have such possibility.

There's a relevant ARO question: https://answers.ros.org/question/311864/is-it-possible-to-delete-a-static-tfs/ .

My use-case: a sensor is removed from the robot, I regenerate the URDF, restart robot_status_publisher, but RViz and all other nodes are still showing the

[2019-03-05 00:21] tfoote commented on #370
Yeah, that's kind of violating the assumption of a static frame being static. The mechanism for tf being distributed doesn't allow for deleting messages based on some node stopping publishing.

For regular transforms the timestamps won't match and this is generally how I'd recommend connecting an intermittent link with a standard frame not a static frame as the frame is not static.

If you do need

[2019-03-05 00:37] peci1 commented on #370
I understand your remarks. Apparently, "static transform" can mean several things for people.

A sensor connected to a fixed location never changes its position, it can just appear/disappear. In such situation, it doesn't seem right to publish the TF at 1-100 Hz. And I think that was one of the reasons why `/tf_static` was created.

Also, the tf/tf2 system allows changing static transforms - that'

[2019-03-05 01:02] tfoote commented on #370
The goal of static transforms was to remove the need for recommunicating things that don't change. The ability to update the values was implemented in case they are subject to uncertainty and might be reestimated later with improved values. But importantly those updated values are expected to be true at all times.

The adding and deleting of transforms is problematic specifically because of the as

[2019-03-05 01:46] peci1 commented on #358
Deprecation warnings added in #371 .

[2019-03-05 02:09] peci1 commented on #370
That's a nice explanation of the static TF design goal. I couldn't find it anywhere under wiki.ros.org/tf2 , not even in the design document or REPs.

It almost seems that there's need for a third type of transforms, something like `/tf_slow`, which would work as normal `/tf`, but would be latched. But I understand that would be a big change that's maybe not possible to be done.

[2019-03-05 06:03] tfoote commented on #370
Unfortunately latching doesn't help communicate new data any quicker. It just communicates old data more reliably. The important thing is to know when things change and to get that you have to publish. I guess you could add a new type of transform that's purely event driven and would keep the history but be assumed to be valid into the future until otherwise specified. Though this would make the s

[2019-04-08 18:26] MarkAtwood opened #375 "no top level LICENSE file"
This repo lack a top level LICENSE file
The Apache 2.0 license makes sense for this repo.

[2019-04-16 13:57] zx801 opened #376 "complie error"
geometry2/tf2_geometry_msgs/include/tf2_geometry_msgs/tf2_geometry_msgs.h:47:10: fatal error: kdl/frames.hpp: No such file or directory
 #include <kdl/frames.hpp>

First time issue not sure how to solve this problem
Many thanks in advance

[2019-04-17 00:17] tfoote commented on #376
It's likely that you are missing a dependency, kdl.

Please ask questions on http://answers.ros.org according to our support policy: http://wiki.ros.org/Support We try to keep the issue tracker reserved for bugs and feature developments.

[2019-04-17 00:17] #376 closed, assigned to nobody

[2019-04-26 22:43] svenlr commented on #43
Hello,
we have wrapped all our transform buffers in transform listeners and nevertheless experience a similar issue on ROS melodic with `rosbag play --clock --loop` and use_sim_time set to true. Warnings similar to the one below usually start to fill the console when the bag is repeated for the first time. However, it appears that there is about a small chance for a bag repetition without problems

[2019-04-28 01:53] pryre commented on #43
I'm not sure if this will assist too much @svenlr (or others), but for me, the issue was self-induced, as I was pushing my own data into the buffer manually in a timer function for visualization. The following code may help with your issues:

My timer function that pushes in custom data (see `check_update_time()` at the start: [here](https://github.com/pryre/mantis/blob/master/mantis_kinematics/sr

[2019-04-29 10:37] peci1 commented on #370
@tfoote Feel free to close this issue. In the end, it seems the idea isn't well aligned with design goals of TF2. And there's the workaround with disconnecting static TFs from their parents if you need to get rid of them.

[2019-05-06 09:40] StefanFabian opened #379 "Crash when MessageFilter is destroyed while there's still a callback registered"
We've noticed a crash in rviz that would occasionally happen when removing a Camera display.

Terminal output:
[code]

Stack trace:
[code]

I've traced it to the tf2_ros::MessageFilter::CBQueueCallback::call method.
I've added some code to confirm my initial suspicion that the callback is called after the parent MessageFilter object, it holds a pointer to, got destroyed and it confirmed that this

[2019-05-10 08:34] corot commented on #190
Actually this is a legitimate bug: using setEuler with the documented parameter order doesn't work as expected. Here ROS nav people "fixed" [the issue using setRPY](https://github.com/ros-planning/navigation/issues/805) instead, but the problem remains on this repo.

To my understanding, [setRPY](https://github.com/ros/geometry2/blob/04318f537e5ca86b9a85c8c6971802b2c6faf049/tf2/include/tf2/LinearM

[2019-05-14 08:12] wasowski commented on #148
Stumbled upon this in some research work.  I suspect this is only an issue if a virtual class has some data members (https://stackoverflow.com/questions/7403883/derived-class-with-non-virtual-destructor).  The warning may be spurious for interfaces with no data members. Probably safe to close this.

Alternatively, adding

[code]
should do the job, which would have the effect of forcing sub-classes

[2019-05-14 11:34] doisyg commented on #181
I would love this issue to be fixed or @peci1 package to be merged and released.

[2019-05-16 13:46] peci1 opened #381 "canTransform() with timeout while unloading nodelet with paused time -> freeze"
I have a nodelet which periodically calls `canTransform()` with timeout in a separate thread on a TF2 ROS buffer.

When I'm replaying a bag file and pause it, the `canTransform()` call (correctly) hangs until I unpause the playback. However, if I want to unload the nodelet while the bag is paused, it never unloads because the `canTransform()` call is still hanged.

For nodes, this was already solv

[2019-05-16 20:51] mm318 commented on #375
BSD license has been added with https://github.com/ros2/geometry2/pull/106. This issue may be closed, @MarkAtwood @tfoote.

[2019-05-17 04:17] tfoote commented on #381
I don't have a good idea of how to resolve this we don't have a good signaling mechanism to say when to stop waiting. I think that your custom wrapper which interjects the additional check for a nodelet shutdown flag is likely going to be the best approach in the short term.

Other approaches might be to force a time update on unload, but I don't think that you can do that without effecting other

[2019-05-18 01:37] MarkAtwood commented on #375
Thank you. BSD-2 license confirmed.

[2019-05-18 01:37] #375 closed, assigned to nobody

[2019-06-06 10:32] ghost opened #385 "Error in rosbag play (Transform[sender=unknown_publishser]"
Dear Altruist people,

When I am trying to play the pointcloud2 topic in the legloam of a pre-recorded bag file with "map" as the fixed frame I am getting an error

![61997955_1103183456543123_1161444094111645696_n](https://user-images.githubusercontent.com/49127638/59026307-55fe5c00-8813-11e9-97e5-ce32108e2013.jpg)

The herewith following picture is the launch file

![61933099_373225779977389_269

[2019-06-06 21:55] tfoote commented on #385
Please ask questions on http://answers.ros.org according to our support policy: http://wiki.ros.org/Support We try to keep the issue tracker reserved for bugs and feature developments.

[2019-06-06 21:55] #385 closed, assigned to nobody

[2019-06-07 23:13] ghost opened #386 "timestamp error while playing a recorded bag file"
Hi,

when I am trying to replay the point cloud2 topic from a recorded bag file I am receiving an error like
![image](https://user-images.githubusercontent.com/49127638/59137900-3b2d0400-8947-11e9-8b59-6a7c4c8ef9b5.png)

I have already set up the sim time as true in my launch file but still it's coming up with same error
![image](https://user-images.githubusercontent.com/49127638/59137930-66afee80

[2019-06-13 01:25] tfoote commented on #386
Please ask questions on http://answers.ros.org according to our support policy: http://wiki.ros.org/Support We try to keep the issue tracker reserved for bugs and feature developments.

[2019-06-13 01:25] #386 closed, assigned to nobody

[2019-07-01 14:01] peci1 opened #387 "tf2::doTransform<sensor_msgs::PointCloud2> doesn't transform normals and viewpoints"
I've noticed that tf2::doTransform<sensor_msgs::PointCloud2> from tf2_sensor_msgs only transforms the XYZ fields, and leaves normals and viewpoints untransformed. I can either send a PR adding support for this (if the channels are present), or there should be a warning that the pointcloud was transformed but not its normals and viewpoints. What solution does sound better?

There could also be a ne

[2019-07-03 14:26] jkflying opened #388 "Getting transform from TransformListener with old timestamp always gives latest transform"
We had quite a long investigation into why our camera data wasn't synchronized with the robot body frame, and eventually came all the way back to the TransformListener (which just wraps TF2 these days, hence filing this bug here). We have rapid orientation shifts, so we need to use the TF2 caching buffer to correctly transform our point cloud data at the correct time, since there is a small delay

[2019-07-03 16:08] jkflying commented on #388
@baumanta FYI

[2019-07-08 00:08] artivis opened #389 "[tf_eigen] Intended use of toMsg specialization"
I wonder what is the intended use of the following conversion specialization ([tf2_eigen.h#L154](https://github.com/ros/geometry2/blob/melodic-devel/tf2_eigen/include/tf2_eigen/tf2_eigen.h#L154)) introduced in #294,
[code]
since it does not seems to follow the specialization pattern of `toMsg`.
Is it meant to be called directly rather than through `tf2::convert` ??

Adding the following test snipp

[2019-07-08 18:13] danielwangksu opened #390 "Coverity - Event unimplemented_null_return"
Event unimplemented_null_return: | Assuming unimplemented function "Py_BuildValue" may return a null value.
Event var_assigned: | Assigning: "args" = "nullptr" return value from "Py_BuildValue".

https://github.com/ros/geometry2/blob/c4a64e0c6ea8fb0a8b0c6a032e509ebc449b0519/tf2_py/src/tf2_py.cpp#L296-L298

Event dereference: | Dereferencing "args", which is known to be "nullptr".

https://github.c

[2019-07-08 18:18] danielwangksu opened #391 "Coverity - Event returned null"
Event returned_null: | "pythonBorrowAttrString" returns "nullptr". [details]
Event var_assigned: | Assigning: "translation" = "nullptr" return value from "pythonBorrowAttrString".
https://github.com/ros/geometry2/blob/c4a64e0c6ea8fb0a8b0c6a032e509ebc449b0519/tf2_py/src/tf2_py.cpp#L482

Event dereference: | Dereferencing a pointer that might be "nullptr" "translation" when calling "checkTranslation

[2019-07-08 18:31] danielwangksu opened #392 "Coverity - Event unimplemented_null_return"
Event unimplemented_null_return: | Assuming unimplemented function "PyFloat_FromDouble" may return a null value.
Event var_assigned: Assigning: "trans_x" = "nullptr" return value from "PyFloat_FromDouble".
https://github.com/ros/geometry2/blob/c4a64e0c6ea8fb0a8b0c6a032e509ebc449b0519/tf2_py/src/tf2_py.cpp#L122

Event dereference: | Dereferencing "trans_x", which is known to be "nullptr".
https://g

[2019-07-08 18:33] danielwangksu opened #393 "Coverity - Event unimplemented_null_return"
Event unimplemented_null_return: | Assuming unimplemented function "Py_BuildValue" may return a null value.
Event var_assigned: | Assigning: "args" = "nullptr" return value from "Py_BuildValue".
https://github.com/ros/geometry2/blob/c4a64e0c6ea8fb0a8b0c6a032e509ebc449b0519/tf2_py/src/tf2_py.cpp#L99

Event dereference: | Dereferencing "args", which is known to be "nullptr".
https://github.com/ros/g

[2019-07-08 18:35] danielwangksu opened #394 "Coverity - Event unimplemented null return"
Event unimplemented_null_return: | Assuming unimplemented function "PyObject_CallObject" may return a null value.
Event var_assigned: | Assigning: "time_obj" = "nullptr" return value from "PyObject_CallObject".
https://github.com/ros/geometry2/blob/c4a64e0c6ea8fb0a8b0c6a032e509ebc449b0519/tf2_py/src/tf2_py.cpp#L100

Event dereference: | Dereferencing "time_obj", which is known to be "nullptr".
htt

[2019-07-08 18:45] danielwangksu opened #395 "Coverity - uninitialized "mstream._M_precision""
Event var_decl: | Declaring variable "mstream".
https://github.com/ros/geometry2/blob/c4a64e0c6ea8fb0a8b0c6a032e509ebc449b0519/tf2/src/buffer_core.cpp#L1166

Event uninit_use_in_call: | Using uninitialized value "mstream._M_precision" when calling "precision".
https://github.com/ros/geometry2/blob/c4a64e0c6ea8fb0a8b0c6a032e509ebc449b0519/tf2/src/buffer_core.cpp#L1174

in ios_base.h uninitialized _

[2019-07-09 18:59] IanTheEngineer commented on #389
Good find and test @artivis . I need to go back through my notes on this, but I believe your assessment is correct. I needed this function to exist to do some conversions for [MoveIt to fully convert to `tf2`](https://github.com/ros-planning/moveit/pull/830), using the `toMsg` or `fromMsg` directly where appropriate, and sometimes using the `convert` methods. I don't recall if I used the `convert`

[2019-07-10 06:53] tfoote commented on #387
A PR to extend support for the other channels would be great.

[2019-07-10 12:17] peci1 commented on #387
See #396.

[2019-07-10 19:36] artivis commented on #389
Thanks for the reply. This issue is unfortunate as it gives the false feeling that `convert` would work for those types too. Looking at the `convert` traits mechanism there doesn't seems to be a simple fix without breaking something.

[2019-07-11 23:25] tfoote commented on #388
This is quite surprising. Is there any sort of reproduction you can provide? tf lookups are accurate enough to render pointclouds from scanning lasers. My first guess is that there's several potential point cloud conversions inside transformPointCloud that look like they're happening, one of which might be failing to copy the header information properly. For debugging I'd suggest putting in a debu

[2019-07-11 23:29] tfoote commented on #388
Also make sure to check the return code to make sure that it's succeeding at all. It might not be transforming anything. transformPointCloud [catches the exceptions](https://github.com/ros-perception/perception_pcl/blob/e3b0d9d6f78b9d7e1d654dbe4880c78a1d81759b/pcl_ros/src/transforms.cpp#L68) and has a return value for failure.

[2019-07-12 07:27] jkflying commented on #388
A minimal reproduction is a bit of a pain since we noticed it running on real hardware, but it was reproducible running the Local Planner with Mavros + PX4 SITL.

To debug we inlined the transformPointCloud you linked above, and examined the timestamp coming back on the transform, which was indeed correct for the timestamp we had requested. However we also retrieved the latest timestamp (by passin

[2019-07-15 16:15] shikharvaish28 opened #397 "Support for ROS2 Dashing along with python3"
[code]
I have built the geometry library for my project using `colcon` for ROS2 Dashing and Python 3 and sourced it using `source install/setup.bash` but am getting this error on importing the `TransformListener` from `tf2_ros`.

My directory structure is as follows:

[code]

It would be great if anyone could help me know where exactly the error is coming from.

[2019-07-16 09:31] shikharvaish28 commented on #397
I'm sorry. I mistakenly opened this issue in ROS repo and not in ROS2. The new link is https://github.com/ros2/geometry2/issues/128

[2019-07-16 09:31] #397 closed, assigned to nobody

[2019-07-19 23:21] tfoote commented on #388
The behavior of the transform always looking up with the same value at all times sounds a lot like the behavior of a static transform.

I have a sneaking suspicion that the extra static transform publisher I noticed here: https://github.com/mavlink/mavros/issues/1278 is initializing the fcu frame as a static frame, and currently tf does not support changing the frame type after initialization. So

[2019-07-21 23:17] jborbik commented on #259
Just in case someone runs into it with ROS Melodic on Ubuntu 18.04, because presented solution which worked fine on 16.04 does not work anymore. I managed to get around it with:

`catkin_make -DPYTHON_EXECUTABLE:FILEPATH=/path/to/virtualenv/python`

or in case that you are using `catkin build`:

`catkin build --cmake-args -DPYTHON_EXECUTABLE:FILEPATH=/path/to/virtualenv/python`

[2019-07-22 09:19] jkflying commented on #388
This is confirmed to be a MAVROS issue, closing.

[2019-07-22 09:19] #388 closed, assigned to nobody

[2019-07-29 13:42] timonegk opened #398 "Implementation of doTransform for tf2 datatypes"
Apparently, it is not possible to transform the `tf2::Quaternion`, `tf2::Vector3`, `tf2::Pose`, etc. data types via `doTransform` (or `transform`). Is there a specific reason for that?
I see that for many applications, especially those using a large amount of linear algebra, the usage of a library like Eigen makes sense. But an extra library should not be necessary to use the basic functionality,

[2019-07-31 05:08] Govindkm opened #399 "Not able to import some files required to run RAZOR IMU 9dof on ROS"
It shows up like this

started roslaunch server http://govindpc-inspiron-3458:35267/

SUMMARY
========

PARAMETERS
 * /imu_node/accel_x_max: 250.0
 * /imu_node/accel_x_min: -250.0
 * /imu_node/accel_y_max: 250.0
 * /imu_node/accel_y_min: -250.0
 * /imu_node/accel_z_max: 250.0
 * /imu_node/accel_z_min: -250.0
 * /imu_node/calibration_magn_use_extended: True
 * /imu_node/gyro_average_offset_x: 0.0

[2019-08-07 23:04] tfoote commented on #398
It would be possible to add the doTransform abstraction but if you're already in tf2 datatypes you can just use the `*` operator.

`tf2::Vector3 out = tf2::Transform foo * tf2::Vector3 in`

In general the tf2 datatypes were targeted to be used mostly internally and externally it was recommended to use your own datatypes, eigen, bullet etc. But I wouldn't be opposed to adding support for the abstra

[2019-08-07 23:33] tfoote commented on #399
What packages do you have installed? and what packages are in your workspace?

[2019-08-10 23:39] a-price opened #401 "Connection info lost in transform_listener"
`tf_monitor` is currently unable to deduce the authority nodes for any transform. To reproduce (on ROS-`kinetic`, `tf2_ros` version `0.520`, `ros_comm` version `1.12.14`):
[code]

[code]

[code]

[code]

I think the issue is caused by the explicit template type specification in these lines:
https://github.com/ros/geometry2/blob/148b2714b1d511e91d18a307531cfdb27bdb3e46/tf2_ros/src/transform_listene

[2019-08-15 17:31] hdamron17 opened #403 "tf2_ros::MessageFilter alternative for Python"
I am constantly rewriting the code to subscribe to a Pose or PointCloud topic then transform to the frame I intend to work in within the callback. In C++, I can use a message filter to achieve this, but there is no equivalent for Python. Is this intentionally left out or is it just not yet implemented? If the latter is the case, I would be glad to help implement it. I have not contributed to tf2 b

[2019-08-16 22:33] tfoote commented on #403
Yeah, it's just not implemented yet. A contribution would be appreciated. Please look at adding it to tf2_ros and provide a parallel API to the c++ version.

[2019-08-17 09:12] rhaschke commented on #379
Fixed via #402.

[2019-08-18 20:46] #379 closed, assigned to nobody

[2019-08-20 19:10] hdamron17 commented on #403
Looking at the C++ implementation, can you explain what is the purpose of using requests for the transformations? ([see here](https://github.com/ros/geometry2/blob/melodic-devel/tf2_ros/include/tf2_ros/message_filter.h#L331)) Is this just how it must be done in C++, or does this improve efficiency by allowing multiple requests to run in parallel and allowing messages to be dropped if the transform

[2019-08-21 04:32] hdamron17 commented on #403
I see now that I was misunderstanding the message filter. It does not actually transform the message but rather ensures that the message could be transformed. This also answers my question about what happens in the case of multiple target frames. Unfortunately, the ability of BufferCore to perform a callback whenever a transformation becomes available did not make it into the tf2_py API, probably

[2019-08-23 11:15] brunoeducsantos opened #406 "Two tf broadcasters in same node issue for Kinetic"
Hi,
For python version of tf2 in Kinetic version it occurs a kind of concurrency when publishing two broadcasters in the same node:

[code]

![image](https://user-images.githubusercontent.com/3111976/63588935-9b732f80-c59f-11e9-8d99-436e1681876e.png)

Anyone has a suggestion or PR to solve this?

Regards,
Bruno

[2019-08-26 01:48] nyxrobotics opened #407 ""tf2::Matrix3x3::getRPY" and "tf2::Matrix3x3::getEulerYPR" function is wrong."
The Euler angle changes in the order of calculation. However, both getEulerYPR and getRPY defined in TF2 :: Matrix3x3 incorrectly use the order (that is YRP).

[2019-08-28 12:41] nyxrobotics opened #409 "Duration parameter of tf2_ros::Buffer has no effect ?"
I wrote my code below.

Then, I checked if it has applied.

That shows the parameter is set to 0.3. However, every member functions of tfBuffer works with every TFs if they are very old data.
For example, tfBuffer.getFrameStrings increases the size infinitely.

[2019-08-29 15:12] #406 closed, assigned to nobody

[2019-09-04 11:20] rickstaa opened #410 "Feature request: Manual transform frame manipulation"
First of all, thanks for the amazing tool it really helps me in my robotics projects! There is, however, one useful feature that I'm missing. After needing to manually change my tf2 frames, I stumbled upon this very useful repository [https://github.com/PickNikRobotics/tf_visual_tools](https://github.com/PickNikRobotics/tf_visual_tools) by [@PickNikRobotics](https://github.com/PickNikRobotics). I

[2019-09-11 23:45] tfoote commented on #409
Please provide a reproducible example or extend one of the unit tests to show the problem.

Are you referencing static transforms? They are always valid and the cache duration does not apply to them.

As an aside 0.3 seconds for the cache is very short, if there is any noteable network delays you're likely to run into challenges getting a spanning set of transforms.